/***************    Variables   *************************/
/******************   Mixins   ***********************/
/******************   Fonts   ***********************/
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/*****************    Queries   ****************************/
@media all and (max-width: 900px) {
  /* Out */
  .headerTitleHome {
    padding: 0 20px !important; }
    .headerTitleHome h1 {
      font-size: 3.5em !important; }
    .headerTitleHome img {
      width: 250px !important;
      margin-bottom: -30px !important; }
    .headerTitleHome h5 {
      font-size: 1.5em !important; }
  .parallax-container-home {
    min-height: 103vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3)), url("../images/happysens-accueil1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    margin-top: -90px; }
  .blocExplainEntreprise h3 {
    font-size: 2.2em !important; }
  .blocExplainEntreprise .containExplainEntreprise .detailsExplainEntreprise {
    font-size: 1.2em !important; }
  .generalContainer {
    padding: 50px 20px !important; }
  .title {
    font-size: 2em !important; }
  .scrollToTop {
    display: none !important; }
  .headerTitleOthers {
    top: 35vh !important; }
    .headerTitleOthers h1 {
      font-size: 2em !important; }
    .headerTitleOthers h5 {
      font-size: 1.2em !important; }
  .titleSecond {
    font-size: 1.5em !important; }
  .blocExplainEntreprise .containExplainEntreprise .titleExplainEntreprise {
    font-size: 1.5em !important; }
  .titleDetailsEntreprise {
    font-size: 2em !important; }
  .cardTitle {
    font-size: 1.8em !important; }
  .detailsInfosEntreprise {
    font-size: 0.8em !important; }
  .detailsInfosEmploye {
    font-size: 0.8em !important; }
  .detailsInfosHappy {
    font-size: 0.8em !important; }
  .containerTalentsEntreprise .containsTalents p {
    font-size: 1em !important; }
  .titleEndEntreprise {
    font-size: 1.1em !important; }
  .containExplainEmploye .detailsExplainEmploye {
    font-size: 1em !important; }
  .titleExplainEmploye {
    font-size: 2em !important; }
  .typeExplainEmploye {
    font-size: 1em !important; }
  #contentEntreprise, #contentHappy, #contentCGV, #contentInscription, #contentContact {
    background-position: center !important;
    top: 25vh !important; }
  .titleShema {
    font-size: 1.3em !important;
    text-align: left !important; }
  .textSchema {
    font-size: 1em !important;
    text-align: left !important; }
  /* IN */
  .card-profile-image {
    margin-top: -55px !important; }
    .card-profile-image img {
      width: 100px; }
    .card-profile-image .etapeOne {
      font-family: "Quicksand", sans-serif;
      font-size: 1.5em;
      text-align: left; }
  .largeScreen {
    display: none !important; }
  .mobile {
    display: block !important; }
  .modal-content {
    width: 25em !important; }
  .detailsExplainEntreprise {
    padding: 10px !important; }
  .brand-logo {
    margin-top: 5px !important; } }

@media all and (max-width: 600px) {
  .imgMenu img {
    margin: 10px 0 !important; }
  .headerTitleHome img {
    width: 200px !important;
    margin-bottom: -30px !important; }
  .brand-logo {
    margin-top: 1px !important; } }

/*******************    CONFIG   ***************************/
* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.generalContainer {
  min-height: 40vh;
  padding: 70px 20px; }

.requireInput {
  color: red;
  font-weight: bold; }

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5em;
  text-align: center; }

.hide {
  display: none; }

.changeBg1 {
  background-color: #EDF1F2; }

.changeBg2 {
  background-color: #F7F2DF; }

/*************    Composant   ****************************/
.Contact {
  padding: 20px; }

.text-form {
  font-family: 'Monserrat', sans-serif;
  font-size: 1.1em; }

.formContact {
  padding: 40px 0; }

.linkNav {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: white; }

.linkNavSide {
  color: #252f3d; }
  .linkNavSide:hover {
    color: #0288D1; }

.enterIn {
  background-color: #252f3d;
  color: white; }
  .enterIn:hover {
    background-color: rgba(37, 47, 61, 0.9);
    color: #FFA000; }
  .enterIn:active {
    background-color: #252f3d; }

.brand-logo {
  margin-top: 5px; }

.notifications {
  min-width: 250px;
  margin-top: 60px; }

.linkTopColor {
  color: white;
  font-weight: bold;
  transition: all 0.3s ease; }

.linkFixedColor {
  color: #252f3d;
  transition: all 0.3s ease; }
  .linkFixedColor .linkFixedColor:hover {
    color: deepskyblue; }

#sidenav-overlay {
  z-index: 990; }

.navbarTop {
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s ease; }
  .navbarTop .button-collapse {
    color: white; }

.navbarFixed {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease; }
  .navbarFixed .button-collapse {
    color: #252F3D; }

.imgMenu {
  display: flex; }
  .imgMenu span {
    margin-top: 1px;
    margin-left: 5px; }
  .imgMenu img {
    margin-top: 16px;
    height: 35px;
    border: 1px solid #0288D1; }

nav {
  background-color: inherit;
  box-shadow: none; }

.loginConnect .iClose {
  color: #252F3D; }

.loginConnect .hidden {
  display: none; }

.modal-content-Connect a {
  color: #0288D1; }
  .modal-content-Connect a:hover {
    color: #4dabe6;
    cursor: pointer; }

.modal-content-Connect a.btn {
  color: white; }

.newUser {
  text-align: center; }

.stayConnected {
  margin-left: 10px; }

.scrollToTop {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color: white;
  z-index: 99999;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 2.5em;
  right: 20px;
  display: none;
  opacity: 0.7; }
  .scrollToTop:hover {
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    opacity: 1; }

.containerIcons {
  margin-bottom: -2rem; }

.iconsEngagement {
  padding: 5rem 0 7rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#contentEntreprise {
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/happywork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -200px;
  margin-top: -90px; }

#contentEmploye {
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/happysens-love.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: -90px; }

#contentHappy {
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/happysens-coach.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: -90px; }

#contentCGV {
  min-height: 55vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../images/happysens-accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -240px;
  margin-top: -90px; }

#contentInscription {
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/happysens-love.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -240px;
  margin-top: -90px; }

#contentContact {
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/happysens-time.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -370px;
  margin-top: -90px; }

.headerTitleOthers {
  border-radius: 5px;
  top: 32vh;
  transform: translatey(-70%);
  position: relative; }
  .headerTitleOthers h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 3.5em;
    letter-spacing: 1px;
    color: #FFA000; }
  .headerTitleOthers h5 {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif; }
  .headerTitleOthers img {
    margin-bottom: -30px; }

.card {
  margin-top: 2.5rem; }

.cardTitle {
  font-size: 2.2em;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #0288D1; }

.textCard {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif; }

.bgCardsIndex {
  color: white;
  border-radius: 10px;
  padding: 5px 20px; }

#cardEmploye {
  background-image: linear-gradient(to top, rgba(249, 168, 37, 0.3), rgba(249, 168, 37, 0.2)), url("../images/happisens-happyjob.jpg");
  background-color: #f9a825; }
  #cardEmploye .bgCardsIndex {
    background-color: rgba(255, 160, 0, 0.65); }

#cardEntreprise {
  background-image: linear-gradient(to top, rgba(2, 136, 209, 0.3), rgba(2, 136, 209, 0.2)), url("../images/happysens-love.jpg");
  background-color: #0288d1; }
  #cardEntreprise .bgCardsIndex {
    background-color: rgba(2, 136, 209, 0.65); }

#cardHappy {
  background-image: linear-gradient(to top, rgba(194, 24, 91, 0.3), rgba(194, 24, 91, 0.2)), url("../images/happysens-sport.jpg");
  background-color: #c2185b; }
  #cardHappy .bgCardsIndex {
    background-color: rgba(194, 24, 91, 0.65); }

.titleDetailsEntreprise {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px; }

.detailsInfosEntreprise {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/happysens-succes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px; }
  .detailsInfosEntreprise ul {
    color: white;
    padding-left: 5%; }
    .detailsInfosEntreprise ul li {
      font-family: "Roboto", sans-serif;
      list-style-type: circle;
      font-size: 1.3em;
      margin-bottom: 10px; }

.cardExempleProjet {
  padding: 40px 20px; }
  .cardExempleProjet .cardContent {
    padding: 50px 20px; }

.chipStatus {
  position: absolute;
  top: 20px;
  z-index: 2;
  margin-left: 20px;
  left: 0; }

.chip img {
  background-color: #fff; }

.chip.validate {
  background-color: rgba(34, 139, 34, 0.8);
  color: white; }

.chip.inProgress {
  background-color: rgba(255, 165, 0, 0.8);
  color: white; }

.chip.end {
  background-color: rgba(255, 0, 0, 0.8);
  color: white; }

ul.switch {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center; }

ul.switch li {
  margin-bottom: 20px;
  padding: 0;
  height: 50px;
  line-height: 50px;
  overflow: hidden; }

ul.switch li a {
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  padding: 0 20px;
  color: black;
  min-width: 150px;
  text-align: center;
  font-family: "Quicksand", sans-serif; }
  ul.switch li a:hover {
    background-color: rgba(211, 211, 211, 0.2); }
  ul.switch li a:focus {
    color: #FFA000; }

ul.switch li.active, ul.switch li.active {
  background-color: rgba(211, 211, 211, 0.2);
  border-bottom: 2px solid #FFA000;
  color: #FFA000; }

.switch_container {
  border-top: none;
  clear: both;
  width: 100%;
  min-height: 50vh; }

.titleShema {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  text-align: left; }

.textSchema {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  text-align: left; }

.mobile {
  display: none; }

.largeScreen {
  display: block; }

.test {
  padding-right: 10px; }

.containerSchema {
  margin-top: 20px; }

.demo a {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font: normal 1.5em "Roboto", sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }

.demo a:hover {
  opacity: .5; }

#scrollBottom {
  margin-left: -15px; }

#scrollBottom a {
  padding-top: 60px; }

#scrollBottom a span {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: 20px;
  border-left: 3px solid #0288D1;
  border-bottom: 3px solid #0288D1;
  border-bottom-left-radius: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0); } }

/*****************    Vues    ****************************/
.parallax-container-home {
  min-height: 103vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3)), url("../images/happysens-accueil1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-y: hidden;
  margin-top: -90px; }

.headerTitleHome {
  opacity: 1;
  margin: auto;
  border-radius: 5px;
  top: 40vh;
  position: relative;
  transform: translatey(-40%);
  transition: all 500ms ease-out; }
  .headerTitleHome h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 5.5em; }
    .headerTitleHome h1 img {
      margin-bottom: -40px;
      width: 350px; }
  .headerTitleHome h5 {
    margin-left: 20px;
    font-size: 2em;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "Roboto", sans-serif; }

.btnHome {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  font-size: 0.85em; }

.goDown {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  width: 45vw; }

.page-footer {
  margin-bottom: -25px;
  background-color: #252F3D; }

ul.followUs {
  display: flex;
  justify-content: space-between; }

.containExplainEmploye {
  margin: 50px 0; }
  .containExplainEmploye i {
    color: #C2185B; }
  .containExplainEmploye .detailsExplainEmploye {
    border-radius: 5px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    padding: 30px 10px;
    text-align: center; }
  .containExplainEmploye ul {
    padding-left: 5%; }
    .containExplainEmploye ul li {
      font-family: 'Montserrat', sans-serif;
      list-style-type: disc;
      font-size: 1.5em;
      margin-bottom: 20px; }

.titleExplainEmploye {
  font-family: "Quicksand", sans-serif;
  color: #FFA000;
  font-size: 3em;
  margin-bottom: 35px; }

.containerPicsEmploye {
  padding: 50px 15px 0;
  margin-top: 50px;
  text-align: center; }
  .containerPicsEmploye .typeExplainEmploye {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    padding: 20px; }

.detailsInfosEmploye {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/happysens-salaries.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px; }
  .detailsInfosEmploye ul {
    color: white;
    padding-left: 5%; }
    .detailsInfosEmploye ul li {
      font-family: "Roboto", sans-serif;
      list-style-type: circle;
      font-size: 1.3em;
      margin-bottom: 10px; }

.containerIntroEntreprise {
  color: #0288D1;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Quicksand", sans-serif; }

.blocExplainEntreprise h3 {
  font-size: 3em;
  font-family: "Quicksand", sans-serif; }

.blocExplainEntreprise .containExplainEntreprise {
  padding: 30px 15px;
  text-align: left; }
  .blocExplainEntreprise .containExplainEntreprise .titleExplainEntreprise {
    font-family: "Roboto", sans-serif; }
  .blocExplainEntreprise .containExplainEntreprise .detailsExplainEntreprise {
    padding: 10px 0;
    border-radius: 5px;
    margin: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1.3em;
    text-align: justify; }

.titleSecond {
  font-family: "Quicksand", sans-serif; }

.containerTalentsEntreprise {
  text-align: center;
  padding-top: 30px; }
  .containerTalentsEntreprise .containsTalents {
    padding: 5px 0 20px 0; }
    .containerTalentsEntreprise .containsTalents p {
      font-family: "Roboto", sans-serif;
      font-size: 1.5em; }
      .containerTalentsEntreprise .containsTalents p span {
        font-weight: bold; }
  .containerTalentsEntreprise .titleTalents {
    font-size: 3em;
    font-family: "Patrick Hand SC", cursive;
    margin-bottom: 30px; }

.titleEndEntreprise {
  font-size: 1.8em;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin: 10px;
  border-left: 4px solid #C2185B; }

.sign {
  right: 0;
  font-size: 0.7em; }

#fullBlock img {
  width: 100%; }

.titleExplainHappy {
  font-family: "Quicksand", sans-serif;
  color: #FFA000;
  font-size: 2em;
  margin-bottom: 35px;
  text-align: center;
  padding: 5px 20px; }

.detailsInfosHappy {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/happysens-montagne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px; }
  .detailsInfosHappy ul {
    color: white;
    padding-left: 5%; }
    .detailsInfosHappy ul li {
      font-family: "Roboto", sans-serif;
      list-style-type: circle;
      font-size: 1.3em;
      margin-bottom: 10px; }

.error {
  color: red; }

.sliderBloc {
  line-height: 2.3em;
  padding: 30px 10px; }
  .sliderBloc h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 3.5em;
    text-align: center; }

#flashNoticeContact {
  opacity: 0.6; }
  #flashNoticeContact .card {
    position: fixed;
    left: 10px;
    top: 40px;
    margin-left: 10px;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
    margin-bottom: 0; }

.presentation {
  padding: 30px 0; }

.sliderHeader {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  font-weight: bold; }

.sliderParagraph {
  font-size: 1.2em;
  text-align: justify;
  font-weight: inherit; }

.slider {
  margin: 35px 0; }

.sliderParagraph {
  margin-top: 65px; }

.slider .slides {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); }

.slider .indicators .indicator-item.active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  border: 3px solid #E0E0E0;
  background-color: #FFA000; }

.vignettesHome {
  max-height: 150px;
  max-width: 150px; }

.containerPicsHome {
  padding: 80px;
  margin-top: 50px;
  text-align: center; }
  .containerPicsHome .typeExplainHome {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    padding: 20px; }

.blocExplainIndex h3 {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 40px; }

.blocExplainIndex h5 {
  font-size: 1.5em;
  margin: 50px 5px;
  font-family: "Quicksand", sans-serif;
  color: #252F3D; }

.blocExplainIndex .containExplainIndex {
  margin-top: 50px; }
  .blocExplainIndex .containExplainIndex i {
    color: white; }
  .blocExplainIndex .containExplainIndex .detailsExplainIndex {
    margin: auto 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4em;
    padding: 30px 10px;
    text-align: center;
    color: #252F3D; }

.titleTheme {
  position: relative;
  top: 25%;
  transform: translatey(-25%); }

.cgv {
  margin-top: 10px; }
  .cgv h1 {
    font-size: 2.2em; }
  .cgv h2 {
    font-size: 1.8em; }
  .cgv p {
    font-size: 1.2em; }
  .cgv ul {
    list-style: disc; }
  .cgv li {
    font-size: 1.3em;
    line-height: 1.4em; }
  .cgv ul.inline li {
    display: inline;
    margin: 0.5em; }

.titleInscription {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #252F3D; }

.popout {
  font-family: "Quicksand", sans-serif; }

.titleProfilEmploye {
  font-family: "Patrick Hand SC", cursive; }

.containerStarTalents {
  padding-top: 25px; }

.card .card-content {
  padding-top: 40px; }

.myInfosEmploye {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 25px; }

.card .card-reveal {
  padding: 25px; }

.infosEmploye {
  padding-top: 20px; }
  .infosEmploye th {
    color: grey; }
  .infosEmploye td {
    color: black;
    font-weight: bold; }

.tabs-content.carousel {
  padding: 25px 5px;
  margin-bottom: 25px; }

.card-profile-image {
  position: absolute;
  margin-top: -75px;
  margin-left: 25px;
  z-index: 2;
  cursor: pointer;
  width: 150px;
  height: 150px; }
  .card-profile-image img {
    max-height: 150px;
    max-width: 130px;
    background-color: #fff; }

.mini-company {
  cursor: pointer;
  text-align: left; }
  .mini-company .chip {
    font-size: 1em;
    background-color: #0288D1;
    color: white; }

.detailsProject {
  font-size: 0.7em;
  font-weight: lighter; }

.revealProject .row {
  padding: 20px 5px; }

.revealProject p {
  padding: 0 10px; }

.revealProject .footerReveal {
  padding: 15px 5px;
  margin-top: 10px; }

.toast {
  background-color: #0288D1 !important;
  font-size: large !important; }

.PC_blockCompany .card-reveal {
  background: linear-gradient(to top, #0288d1, rgba(2, 136, 209, 0.8));
  color: white; }

.PC_blockEmployee {
  background-image: linear-gradient(to top, rgba(249, 168, 37, 0.9), rgba(249, 168, 37, 0.6)), url("../images/happysens-salaries.jpg");
  background-color: #f9a825;
  color: white; }

.headerDetailsProject {
  height: 30vh;
  max-height: 400px;
  border-radius: 2px;
  padding: 1px;
  overflow: hidden; }
  .headerDetailsProject .background {
    width: 100%;
    display: block;
    position: relative; }
    .headerDetailsProject .background img {
      width: 100%;
      height: 400px;
      margin-top: -50px; }
    .headerDetailsProject .background .content {
      position: absolute;
      top: 10px;
      margin-left: 10px; }
    .headerDetailsProject .background p {
      transform: translatex(26vw);
      text-align: center;
      justify-content: center;
      display: flex; }

.detailsProjectExplain, .dateProject {
  padding-left: 20px; }

.containList {
  padding-left: 7px; }

.inline-team-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .inline-team-list li {
    margin-right: 5px; }

.personPlus {
  margin-top: 10px;
  background-color: #0288D1; }
  .personPlus:hover {
    background-color: rgba(2, 136, 209, 0.8); }

.wrapper {
  padding: 1.5em;
  margin-bottom: 70px;
  text-align: center; }
  .wrapper ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: auto; }
    .wrapper ul li {
      float: left;
      padding: 0;
      text-align: center;
      margin: auto;
      width: 32%; }
      .wrapper ul li a {
        color: #ccc;
        text-decoration: none;
        padding: 10px 0 10px 55px;
        background: #f1f1f1;
        position: relative; }
        .wrapper ul li a:after {
          content: " ";
          display: block;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid #f1f1f1;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2; }
        .wrapper ul li a:before {
          content: " ";
          display: block;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 6px;
          left: 100%;
          z-index: 1; }
      .wrapper ul li:first-child a {
        padding-left: 15px; }
      .wrapper ul li.active a {
        color: white;
        background: #0288D1; }
        .wrapper ul li.active a:after {
          border-left-color: #0288D1; }
    .wrapper ul li.userCompany {
      float: left;
      padding: 0;
      text-align: center;
      margin: auto;
      width: 50%; }
      .wrapper ul li.userCompany a {
        color: #ccc;
        text-decoration: none;
        padding: 10px 0 10px 55px;
        background: #f1f1f1;
        position: relative; }
        .wrapper ul li.userCompany a:after {
          content: " ";
          display: block;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid #f1f1f1;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2; }
        .wrapper ul li.userCompany a:before {
          content: " ";
          display: block;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 6px;
          left: 100%;
          z-index: 1; }
      .wrapper ul li.userCompany:first-child a {
        padding-left: 15px; }
      .wrapper ul li.userCompany.active a {
        color: white;
        background: #0288D1; }
        .wrapper ul li.userCompany.active a:after {
          border-left-color: #0288D1; }

.adminDashboard {
  margin: 30px 0; }

.containerDashboard {
  height: 50vh;
  padding: 50px 20px; }
  .containerDashboard .contentDashboard {
    background-color: #e2e2e2;
    height: 100%;
    padding: 20px;
    text-align: center; }
    .containerDashboard .contentDashboard h2 {
      font-family: "Quicksand", sans-serif; }
    .containerDashboard .contentDashboard .listAddUsers {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .containerDashboard .contentDashboard .listAddUsers div {
        border-radius: 3px;
        margin-top: 30px;
        padding: 20px 40px;
        height: 10em;
        width: 10em; }
        .containerDashboard .contentDashboard .listAddUsers div#createHappy {
          background-color: white;
          border: 2px solid #C2185B;
          color: #C2185B; }
        .containerDashboard .contentDashboard .listAddUsers div#createCompany {
          background-color: #f9f9f9;
          border: 2px solid #0288D1;
          color: #0288D1; }
        .containerDashboard .contentDashboard .listAddUsers div#createEmploye {
          background-color: white;
          border: 2px solid #FFA000;
          color: #FFA000; }
        .containerDashboard .contentDashboard .listAddUsers div#validProject {
          background-color: white;
          border: 2px solid #2b8b24;
          color: #2b8b24; }
        .containerDashboard .contentDashboard .listAddUsers div#waitProject {
          background-color: white;
          border: 2px solid #FFA000;
          color: #FFA000; }
        .containerDashboard .contentDashboard .listAddUsers div#runProject {
          background-color: white;
          border: 2px solid #0288D1;
          color: #0288D1; }
      .containerDashboard .contentDashboard .listAddUsers a {
        margin: auto;
        font-size: 1.3em;
        color: white; }
    .containerDashboard .contentDashboard .listSimple {
      padding-left: 60px;
      padding-top: 30px; }
      .containerDashboard .contentDashboard .listSimple p {
        font-size: 1.3em;
        justify-content: flex-start;
        color: black;
        transition: all 30ms; }
        .containerDashboard .contentDashboard .listSimple p:hover {
          color: #515151;
          cursor: pointer;
          transform: scale(0.98);
          transition: 30ms ease 0s; }
        .containerDashboard .contentDashboard .listSimple p#allCompany i {
          color: #0288D1; }
        .containerDashboard .contentDashboard .listSimple p#deleteCompany i {
          color: red; }
        .containerDashboard .contentDashboard .listSimple p#addProjectHappy i {
          color: #C2185B; }
        .containerDashboard .contentDashboard .listSimple p span {
          margin-left: 15px; }

.logoCompany {
  margin-top: 30px; }
