.adminDashboard {
  margin: 30px 0;
}
.containerDashboard {
  height: 50vh;
  padding: 50px 20px;
  .contentDashboard {
    background-color: #e2e2e2;
    height: 100%;
    padding: 20px;
    text-align: center;
    h2 {
      font-family: $textFont;
    }
    .listAddUsers {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div {
        border-radius: 3px;
        margin-top: 30px;
        padding: 20px 40px;
        height: 10em;
        width: 10em;
        &#createHappy {
          background-color: white;
          border: 2px solid $pinkColor;
          color: $pinkColor;
        }
        &#createCompany {
          background-color: #f9f9f9;
          border: 2px solid $amberColor;
          color: $amberColor;
        }
        &#createEmploye {
          background-color: white;
          border: 2px solid $blueColor;
          color: $blueColor;
        }
        &#validProject {
          background-color: white;
          border: 2px solid #2b8b24;
          color: #2b8b24;
        }
        &#waitProject {
          background-color: white;
          border: 2px solid $amberColor;
          color: $amberColor;
        }
        &#runProject {
          background-color: white;
          border: 2px solid $blueColor;
          color: $blueColor;
        }
      }
      a {
        margin: auto;
        font-size: 1.3em;
        color: white;
      }
    }
    .listSimple {
      padding-left: 60px;
      padding-top: 30px;
      p {
        font-size: 1.3em;
        justify-content: flex-start;
        color: black;
        transition: all 30ms;
        &:hover {
          color: #515151;
          cursor: pointer;
          transform: scale(0.98);
          transition: 30ms ease 0s;
        }
        &#allCompany {
          i {
            color: $blueColor;
          }
        }
        &#deleteCompany {
          i {
            color: red;
          }
        }
        &#addProjectHappy {
          i {
            color: $pinkColor;
          }
        }
        span {
          margin-left: 15px;
        }
      }
    }
  }
}