// Main colors
$amberColor: #FFA000;
$blueColor: #0288D1;
$pinkColor: #C2185B;
$darkColor: #252F3D;

// Main colors with opacity
$amberColorOpacity: rgba(#FFA000, 0.7);
$blueColorOpacity: rgba(#0288D1, 0.7);
$pinkColorOpacity: rgba(#C2185B, 0.7);

// Fonts
$titleFont: "Roboto", sans-serif;
$textFont: "Quicksand", sans-serif;

