.para1 {
    border-radius: 5px;
    min-height: 40vh;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding: 10px 50px;
}
.para2 {
    border-radius: 5px;
    height: 40vh;
    padding: 10px;
    margin: auto;
}
.imageDescriptions {
    width: 100%;
    height: 50%;
    background-image: url("https://img1.nousdeux.fr/var/nousdeux/storage/images/article/des-loisirs-creatifs-pour-tous-les-ages-539/2088-1-fre-FR/Des-loisirs-creatifs-pour-tous-les-ages_width1024.jpg");
    background-size: cover;
}