{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
<div class="container generalContainer widthMax">
    <div class="row">
        <h5 class="blue-text text-darken-3 titleSecond">Connexion à votre compte</h5>
    </div>
    <form action="{{ path('login') }}" method="post">
        <div class="row">
            <div class="col s12" id="password">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="_username" class="validate" value="{{ last_username }}">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="_password" class="validate">
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="stayConnected">
                        <input type="checkbox" name="_remember_me" checked class="filled-in" id="remember_me"/>
                        <label for="remember_me">Souhaitez vous rester connecté ? </label>
                    </div>
                </div>
                {% if error %}
                    <div class="row">
                        <div class="col s12 m8 offset-m2 center">
                            <div class="card-panel panel-error red lighten-2">
                          <span class="white-text">
                              {{ error.messageKey|trans(error.messageData, 'security') | replace({
                                  "Invalid credentials": "Erreur de combinaison email / mdp. Réessayer !",
                                  "Bad credentials": "Erreur de combinaison email / mdp. Réessayer !"
                              }) }}
                          </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="input-field center">
                        Vous avez oublié votre <a href="#" onclick="missingPassword()">mot de passe?</a>
                    </div>
                </div>
            </div>
            <div class="col s12" id="btnConnexion">
                <div class="row">
                    <div class="input-field center">
                        <button type="submit" class="btn waves-effect waves-light amber darken-2">
                            Connexion
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action="#" method="post">
        <div class="row hide" id="hiddenMissingPassword">
            <div class="input-field col s12">
                <p>
                    Vous avez perdu votre mot de passe ? Pas de panique, nous allons vous aider à le récupérer.
                    Saisissez votre adresse e-mail ci-dessous, et vous recevrez, sous peu, à cette même adresse,
                    un lien vous permettant de choisir un nouveau mot de passe.
                </p>
            </div>
            <div class="input-field col s12 center">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field center">
                        <div class="input-field col s12 center">
                            <a href="#" onclick="findPassword()" class="btn-flat waves-effect waves-light">Annuler
                                <i class="material-icons left">reply</i>
                            </a>
                            <a href="#" onclick="findPassword()" class="btn waves-effect waves-light blue darken-2">
                                Envoyer
                                <i class="material-icons right">send</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}