{% extends 'notificationsEmail/baseMail.html.twig' %}

{% block content %}
    <h1 class="title">Bienvenue {{ firstname }} {{ lastname }}, sur votre plateforme HappySens,</h1>

    <span class="content">Vos identifiants temporaires sont les suivants :</span>
    <ul class="text">
        <li class="content">Email : {{ email }} </li>
        <li class="content">Mot de passe temporaire : {{ password }} </li>
    </ul>
    <p class="infosOthers">Nous vous invitons à bien renseigner votre profil et à découvrir sans tarder cet espace dédié à votre référencement pour plus de bonheur en entreprise. N'oubliez pas de modifier votre mot de passe lors de votre première connexion.
    </p>
    <a href="https://happysens.fr/login">
        <button>Accéder à votre profil</button>
    </a>
    <p>En cas de problème rendez vous directement à la page de connexion : <a href="https://happysens.fr/login">https://happysens.fr/login</a></p>
    <p class="content">Merci de votre confiance, nous serions ravis de vous compter parmi nos Happy Coachs.</p>
{% endblock %}
