<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenue {% endblock %}</title>
    <style>
        * { box-sizing: border-box; }
        body {
            background-color: #F7F2DF;
        }
        .container {
            margin: 0 auto;
            max-width: 1280px;
        }
        header {
            width: 100%;
            text-align: center;
        }
        .center {
            margin: auto;
            text-align: center;
        }
        .containerContent {
            padding: 0 50px;
        }
        h1,h2,h3,h4,h5 {
            font-family: "", sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <a href="http://www.happysens.fr" title="Découvrez notre plateforme">
                <img src="{{ absolute_url(asset('assets/images/logo2.png')) }}" >
            </a>
        </header>
        <div class="containerContent">
            {% block content %}
                <h1>Salut je suis un titre</h1>
                <p>Je suis un paragraphe</p>
                <ul>
                    <li>Et moi un li </li>
                    <li>Et moi un li </li>
                    <li>Et moi un li </li>
                </ul>
            {% endblock %}
        </div>
        <footer>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>