{% extends 'notificationsEmail/baseMail.html.twig' %}

{% block content %}
    <h1 class="title">Bonjour {{ firstname }}{{ lastName }},</h1>

    <span class="content">Nous avons reçu une demande de réinitialisation de votre mot de passe.</span>
    <span class="content">Si ce n’est pas vous, veuillez ignorer ce mail.
        Si c'est bien vous :</span>
    <a href="http://happysens.fr{{ path('create', { 'token': token }) }}">
        <button>Créer un nouveau Mot de passe</button>
    </a>
    <p class="content">Vous allez recevoir un mail lors de la confirmation de votre projet par le comité.</p>
{% endblock %}
