{% extends ':notificationsEmail:baseTxtMail.txt.twig' %}

{% block content %}
<h3>Bonjour, {{ firstname }}{{ lastName }}</h3>

Nous avons reçu une demande de réinitialisation de votre mot de passe.
Si ce n’est pas vous ignorez ce mail.

Cliquez sur ce lien pour créez votre nouveau mot de passe:
{{ token }}


{% endblock %}