<div class="divider"></div>
<section class="containerIcons">
    <ul class="iconsEngagement container" id="iconsEngagement" >
        <li><i class="medium material-icons blue-text">person_outline</i></li>
        <li><i class="medium material-icons blue-text">redeem</i></li>
        <li><i class="medium material-icons blue-text">help_outline</i></li>
    </ul>
</section>