<div class="row hide-on-med-and-down show-on-large">
    {# Others #}
    <div class="col s4">
        <div class="row">
            <div class="card-panel amber darken-2">
                          <span class="white-text">
                              <b>Au travail je me sens Happy quand ... </b><br/>
                              il y a des frites à la cantine.
                          </span>
            </div>
            <div>
                <h5 class="light-blue-text text-darken-2">Mes passions et talents cachés :</h5>
            </div>
            <ul class="collection">
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Sport</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Chant</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Yoga</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Cuisine</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Photographie</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="light-blue-text text-darken-2">Mes projets terminé :</h5>
        </div>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="{{ asset('assets/images/happysens-accueil.jpg') }}" alt="" class="circle">
                <span class="title">Organisation d'un concert</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">pageview</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Cours de fitness</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">pageview</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Cours de yoga</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">pageview</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Mission humanitaire</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">pageview</i></a>
            </li>
        </ul>
    </div>
    <div class="col s8">
        <div class="row">
            <section class="PC_blockProject">
                {{ include('partials/components/PC_blockProject.html.twig') }}
            </section>
        </div>
    </div>
</div>
