<div class="row hide-on-med-and-down show-on-large">
    {# Others #}
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les enjeux collectifs de la qualité de Vie au Travail :
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorum ex ipsum laboriosam natus quam repellat tempore vitae. Ad cupiditate eius ex laboriosam maiores maxime minima, odio repellat repellendus velit.</p>
                      </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="card-panel blue darken-2 titleSecond center">
                      <div class="white-text"> Les 3 critéres à remplir pour un Happy projet validé :
                          <ul>
                              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                          </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                        <span class="center titleSecond">
                            <b>Le bonheur au travail c'est ...</b>
                            lorem ipsum dolor sit amet, consectetur adipisicing elit aut distinctio eaque esse eum.
                        </span>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Langues</p>
                            <div class="col l12">
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Suivez-nous </p>
                            <div class="col l12">
                                <i class="fa fa-facebook-square fa-2x blue-text text-darken-4"></i>
                                <i class="fa fa-twitter-square fa-2x blue-text text-darken-1"></i>
                                <i class="fa fa-youtube fa-2x red-text"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <h5 class="titleSecond">Nos passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Sport</p>
                            <div class="col l12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Yoga</p>
                            <div class="col l12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Cuisine</p>
                            <div class="col l12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Montagne</p>
                            <div class="col l12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col l12 titleSecond">Photographie</p>
                            <div class="col l12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div>
                    <h5 class="titleSecond">Mes Happy Salarié : </h5>
                </div>
                <div class="collection">
                    <div class="col l4 center-align">
                        <ul class="">
                            <li><img class="circle responsive-img" src="https://randomuser.me/api/portraits/women/12.jpg"
                                     alt="Vignette photo"></li>
                            <li>Joe Do</li>
                            <li>humeur</li>
                            <li>Ici le slogan de chaque salarié</li>
                        </ul>
                    </div>
                    <div class="col l4  center-align">
                        <ul class="">
                            <li><img class="circle responsive-img" src="https://randomuser.me/api/portraits/women/25.jpg"
                                     alt="Vignette photo"></li>
                            <li>Name</li>
                            <li>humeur</li>
                            <li>Ici le slogan de chaque salarié</li>
                        </ul>
                    </div>
                    <div class="col l4  center-align">
                        <ul>
                            <li><img class="circle responsive-img" src="https://randomuser.me/api/portraits/men/15.jpg"
                                     alt="Vignette photo"></li>
                            <li>Name</li>
                            <li>humeur</li>
                            <li>Ici le slogan de chaque salarié</li>
                        </ul>
                    </div>
                    <div class="row">
                        <span class="col s12 center" id="aShowAllSalaryLarge"><a onclick="showAllSalaryLarge()">Voir tous les Happy Salarié</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="row">
                <section class="PC_blockProject">
                    {{ include('partials/components/PC_blockProject.html.twig') }}
                </section>
            </div>
        </div>
    </div>
    <div class="l12 hide" id="allSalaryLarge">
        <div class="row">
            <div>
                <h5 class="titleSecond">Tous mes Happy Salarié : </h5>
            </div>
            {% set numberSalary = 1 %}
            {% for salary in 1..8 %}
                <div class="col l4">
                    {% for range in 1..3 %}
                        <div class="col l4  center-align">
                            <ul>
                                <li><img class="circle responsive-img" src="https://randomuser.me/api/portraits/{% if numberSalary % 2 == 0 %}women{% else %}men{% endif %}/{{numberSalary}}.jpg" alt="Vignette photo"></li>
                                <li>Name</li>
                                <li>humeur</li>
                                <li>Ici le slogan de chaque salarié</li>
                            </ul>
                        </div>
                        {% set numberSalary = numberSalary + 1 %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <span class="col s12 center"><a onclick="hideAllSalaryLarge()">Retour</a></span>
        </div>

    </div>

</div>
