<div class="row hide-on-med-and-up show-on-small show-on-medium">
    {# mobile #}
    <ul class="switch">
        <li class="active"><a href="#tabInfo">Informations</a></li>
        <li><a href="#tabProjects">Projets</a></li>
    </ul>
    <div class="switch_container">
        <div id="tabInfo" class="col s12 white switch_content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="card-panel blue darken-2 titleSecond center">
                            <div class="white-text"> Les enjeux collectifs de la qualité de Vie au Travail :
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorum ex ipsum laboriosam natus quam repellat tempore vitae. Ad cupiditate eius ex laboriosam maiores maxime minima, odio repellat repellendus velit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="card-panel blue darken-2 titleSecond center">
                            <div class="white-text"> Les 3 critéres à remplir pour un Happy projet validé :
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolore dolores.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                        <span class="center titleSecond">
                            <b>Le bonheur au travail c'est ...</b>
                            lorem ipsum dolor sit amet, consectetur adipisicing elit aut distinctio eaque esse eum.
                        </span>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Langues</p>
                            <div class="col s12">
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                                <i class="fa fa-language fa-2x"></i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Suivez-nous </p>
                            <div class="col s12">
                                <i class="fa fa-facebook-square fa-2x blue-text text-darken-4"></i>
                                <i class="fa fa-twitter-square fa-2x blue-text text-darken-1"></i>
                                <i class="fa fa-youtube fa-2x red-text"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <h5 class="titleSecond">Nos passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Sport</p>
                            <div class="col s12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Yoga</p>
                            <div class="col s12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Cuisine</p>
                            <div class="col s12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Montagne</p>
                            <div class="col s12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <p class="col s12 titleSecond">Photographie</p>
                            <div class="col s12">
                                <i class="material-icons blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star</i>
                                <i class="material-icons  blue-text text-darken-2">star_half</i>
                                <i class="material-icons  blue-text text-darken-2">star_border</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="titleSecond">Mes Happy Salarié : </h5>
            </div>
            <div class="collection">
                <div class="col s6 center-align">
                    <ul class="">
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/1"
                                 alt="Vignette photo"></li>
                        <li>Joe Do</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="col s6 center-align">
                    <ul class="">
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/2"
                                 alt="Vignette photo"></li>
                        <li>Name</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="col s6  center-align">
                    <ul>
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/3"
                                 alt="Vignette photo"></li>
                        <li>Name</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="col s6  center-align">
                    <ul>
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/4"
                                 alt="Vignette photo"></li>
                        <li>Name</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="col s6 center-align">
                    <ul>
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/5"
                                 alt="Vignette photo"></li>
                        <li>Name</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="col s6  center-align">
                    <ul>
                        <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/6"
                                 alt="Vignette photo"></li>
                        <li>Name</li>
                        <li>humeur</li>
                        <li>Ici le slogan de chaque salarié</li>
                    </ul>
                </div>
                <div class="row">
                    <span class="col s12 center"><a href="#">Voir tous les Happy Salarié</a></span>
                </div>

            </div>

        </div>
        <div id="tabProjects" class="col s12 white switch_content">
            <div class="row">
                <section class="PC_blockProject">
                    {{ include('partials/components/PC_blockProject.html.twig') }}
                </section>
            </div>
        </div>
    </div>
</div>
