<div class="row hide-on-med-and-up show-on-medium show-on-small">
    {# mobile #}
    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s4"><a class="active" href="#test-swipe-1">Passions et talents</a></li>
        <li class="tab col s4"><a href="#test-swipe-2">Mes projets</a></li>
    </ul>

    <div id="test-swipe-1" class="col s12 white tabs-content carousel">
        <div class="row">
            <div>
                <h5 class="light-blue-text text-darken-2">Mes passions et talents cachés :</h5>
            </div>
            <ul class="collection">
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Sport</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Chant</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Yoga</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Cuisine</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <span class="col s5">Photographie</span>
                        <div class="col s7">
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_border</i>
                            <i class="material-icons right amber-text text-darken-2">star_half</i>
                            <i class="material-icons right amber-text text-darken-2">star</i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="test-swipe-2" class="col s12 white tabs-content carousel">
        <div class="row">
            <section class="PC_blockProject">
                {{ include('partials/components/PC_blockProject.html.twig') }}
            </section>
        </div>
    </div>
</div>
