<div class="row hide-on-med-and-up show-on-small show-on-medium">
    {# mobile #}
    <ul class="switch">
        <li class="active"><a href="#tabInfo">Informations</a></li>
        <li><a href="#tabProjects">Projets</a></li>
    </ul>
    <div class="switch_container">
        <div id="tabInfo" class="col s12 white switch_content">
            <div class="row">
                <div class="card-panel amber darken-2 white-text">
                    <h5>A propos de moi </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi at, aut distinctio eaque esse eum adipisci alias animi at, aut distinctio eaque esse eum.
                    </p>
                </div>
                <div>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row valign-wrapper">
                            <span class="center">
                                <b>Le bonheur au travail c'est ...</b>
                                lorem ipsum dolor sit amet, consectetur adipisicing elit aut distinctio eaque esse eum.
                            </span>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Humeur</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s6">Langues</span>
                            <i class="fa fa-language fa-2x right"></i>
                            <i class="fa fa-language fa-2x right"></i>
                            <i class="fa fa-language fa-2x right"></i>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s6">Suivez-moi </span>
                            <div class="col s6">
                                <i class="fa fa-facebook-square fa-2x right blue-text text-darken-4"></i>
                                <i class="fa fa-twitter-square fa-2x right blue-text text-darken-1"></i>
                                <i class="fa fa-youtube fa-2x right red-text"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <h5 class="light-blue-text text-darken-2">Mes passions et talents cachés :</h5>
                </div>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Sport</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Chant</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Yoga</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Cuisine</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <span class="col s5">Photographie</span>
                            <div class="col s7">
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_border</i>
                                <i class="material-icons right amber-text text-darken-2">star_half</i>
                                <i class="material-icons right amber-text text-darken-2">star</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tabProjects" class="col s12 white switch_content">
            <div class="row">
                <section class="PC_blockProject">
                    {{ include('partials/components/PC_blockProject.html.twig') }}
                </section>
            </div>
        </div>
    </div>
</div>
