<!-- Modal Structure -->
<div class="row">
    <div id="modal1" class="modal">
        <div class="col s12"><a class="modal-action modal-close right iClose"><i class="fa fa-times-circle-o fa-2x"></i></a></div>
        <div class="modal-content">
                <div class="left">
                    <h5 class="blue-text text-darken-3 titleSecond">Se connecter à votre compte</h5>
                </div>
            <form action="" method="post">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Mot de passe</label>
                            </div>
                        </div>
                        <div class="row">
                            <input type="checkbox" name="filled-in-box" class="filled-in" id="filled-in-box"/>
                            <label for="filled-in-box">Souhaitez vous rester connecté ? </label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 center">
                                Vous souhaitez vous inscrire en tant que <a href="{{ path('contact') }}">entreprise </a>, <a href="{{ path('inscription') }}">salarié </a> ou <a href="{{ path('contact') }}">happyCoach </a>.
                            </div>
                            <div class="input-field col s12 center">
                                Vous avez oublié votre <a href="#">mot de passe?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field center">
    <!--                            <button class="btn waves-effect waves-light amber darken-2" type="submit" name="action">-->
    <!--                                Connexion-->
    <!--                                <i class="material-icons right">send</i>-->
    <!--                            </button>-->
                                <a href="{{ path('profilEmploye') }}" class="btn waves-effect waves-light amber darken-2">
                                    Connexion
                                    <i class="material-icons right">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>