<!-- Modal Structure -->
<div class="row">
    <div id="modal1" class="modal">
        <div class="col s12"><a class="modal-action modal-close right iClose"><i class="fa fa-times-circle-o fa-2x"></i></a></div>
        <div class="modal-content">
                <div class="left">
                    <h5 class="blue-text text-darken-3 titleSecond">Se connecter à votre compte</h5>
                </div>
            <form action="" method="post">
                <div class="row">
                    <div class="col s12" id="password">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Mot de passe</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stayConnected">
                                <input type="checkbox" name="filled-in-box" class="filled-in" id="filled-in-box"/>
                                <label for="filled-in-box">Souhaitez vous rester connecté ? </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field center">
                                <a class="newUser"><i class="fa fa-user-plus"></i> Cliquez ici pour vous inscrire</a>
                            </div>
                            <div class="input-field col s12 center">
                                Vous avez oublié votre <a href="#" onclick="missingPassword()">mot de passe?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12" id="btnConnexion">
                        <div class="row">
                            <div class="input-field center">
                                <a href="{{ path('profilEmploye') }}" class="btn waves-effect waves-light amber darken-2">
                                    Connexion
                                    <i class="material-icons right">send</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden" id="hiddenMissingPassword">
                        <div class="input-field col s12 center">
                            Vous avez perdu votre mot de passe ? Pas de panique, nous allons vous aider à le récupérer.
                            Saisissez votre adresse e-mail ci-dessous, et vous recevrez, sous peu, à cette même adresse,
                            un lien vous permettant de choisir un nouveau mot de passe.
                        </div>
                        <div class="input-field col s12 center">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="col s12">
                            <div class="row">
                            <div class="input-field center">
                                <div class="input-field col s6 center-align">
                                    <a href="#" onclick="findPassword()" class="btn waves-effect waves-light amber darken-2">Annuler
                                        <i class="material-icons left">reply</i>
                                    <a>
                                </div>
                                <div class="input-field col s6 center-align">
                                    <a href="{{ path('profilEmploye') }}" class="btn waves-effect waves-light blue darken-2">
                                        Envoyer
                                        <i class="material-icons right">send</i>
                                    </a>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

