<div class="row">
    <div>
        <h5 class="light-blue-text text-darken-2">Quelques Happy Talents :</h5>
    </div>
    <ul class="collection">
        <li class="collection-item">
            <div class="row">
                <span class="col s12 m5">Sport</span>
                <div class="col s12 m7">
                    <i class="material-icons right amber-text text-darken-2">star_half</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <span class="col s12 m5">Chant</span>
                <div class="col s12 m7">
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_half</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <span class="col s12 m5">Yoga</span>
                <div class="col s12 m7">
                    <i class="material-icons right amber-text text-darken-2">star_half</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <span class="col s12 m5">Cuisine</span>
                <div class="col s12 m7">
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_half</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <span class="col s12 m5">Photographie</span>
                <div class="col s12 m7">
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_border</i>
                    <i class="material-icons right amber-text text-darken-2">star_half</i>
                    <i class="material-icons right amber-text text-darken-2">star</i>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <span class="col s12"><a href="#">Autre Happy Talents</a></span>
            </div>
        </li>
    </ul>
</div>