
                    <div class="col s12 PC_bProjectInProgress">
                        <div>
                            <h5 class="light-blue-text text-darken-2 center">les Happy Projets</h5>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s6 m4"><a href="#PC_ProjetAttente">En attente</a></li>
                                    <li class="tab col s6 m4"><a class="active" href="#PC_ProjetValidate">Validé</a></li>
                                    <li class="tab col s6 m4 disabled"><a href="#test3">Terminé</a></li>
                                </ul>
                            </div>
                <!--********************************** Project in progress****************************************-->
                            <div id="PC_ProjetAttente" class="col s12">

                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator"
                                             src="{{ asset('assets/images/happysens-musique.jpg') }}">
                                    </div>
                                    <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Organisation d'un concert<i
                                                class="material-icons right blue-text text-darken-2">info</i></span>
                                        <p><a href="#">Détails</a></p>
                                    </div>
                                    <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Titre du projet<i
                                                class="material-icons right">close</i></span>
                                        <p>Here is some more information about this product that is only revealed
                                            once
                                            clicked on.</p>
                                    </div>
                                </div>

                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator"
                                             src="{{ asset('assets/images/happysens-sport.jpg') }}">
                                    </div>
                                    <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Cours de fitness<i
                                                class="material-icons right blue-text text-darken-2">info</i></span>
                                        <p><a href="#">Détails</a></p>
                                    </div>
                                    <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Titre du projet<i
                                                class="material-icons right">close</i></span>
                                        <p>Here is some more information about this product that is only revealed
                                            once clicked  on.</p>
                                    </div>
                                </div>
                            </div>

     <!--********************************** Project Validé****************************************-->
                            <div id="PC_ProjetValidate" class="col s12">
                                <div class="card medium">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator"
                                             src="{{ asset('assets/images/happysens-humanitaire.jpg   ') }}">
                                    </div>
                                    <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Mission humanitaire<i
                                                class="material-icons right blue-text text-darken-2">info</i></span>
                                        <p><a href="#">Détails</a></p>
                                    </div>
                                    <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Titre du projet<i
                                                class="material-icons right">close</i></span>
                                        <p>Here is some more information about this product that is only revealed once
                                            clicked
                                            on.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>





