<div class="row">
    <h1 class="center-align"> Mes Happy Salariés </h1>
    <div class="container">
        <div class="row">
            <div class="col s6 m4 l3 xl2 center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/1"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/2"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/3"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/4"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/5"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/6"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/7"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/8"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/9"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/10"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/1"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
            <div class="col s6 m4 l3 xl2  center-align">
                <ul>
                    <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/2"
                             alt="Vignette photo"></li>
                    <li>Name</li>
                    <li>humeur</li>
                    <li>Ici le slogan de chaque salarié</li>
                </ul>
            </div>
        </div>
    </div>
</div>