<!--    cards de présentation -->
<div class="row">
    <div class="card medium headerProfil">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('assets/images/happysens-love.jpg') }}">
        </div>
        <div class="card-content">
            <a class="btn-floating btn-large halfway-fab activator waves-effect waves-light amber darken-2 right"><i
                        class="material-icons">info_outline</i></a>
            <span class="card-title activator grey-text text-darken-4">Nom de l'entreprise</span>
            <p><a href="#"> [ Logo ] #Entreprise</a></p>
        </div>
        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Nom de l'entreprise<i
                                    class="material-icons right">close</i></span>

            <div class="col s12 m6 PC_bCompany center-align">
                <table>
                    <tbody>
                    <tr>
                        <th>Activité</th>
                        <td>Pharma</td>
                    </tr>
                    <tr>
                        <th>Effectif</th>
                        <td> 50 - 100</td>
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>01/01/2000</td>
                    </tr>
                    <tr>
                        <th>Lieu des sites</th>
                        <td>Lyon -France</td>
                    </tr>
                    <tr>
                        <th rowspan="2">Référent Happy Sens</th>
                        <td><i class="material-icons prefix">phone</i></td>
                    </tr>
                    <tr>
                        <td><i class="material-icons prefix">email</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="hide-on-small-only col m6 center-align PC_bSlogan">
                <p class="valign-wrapper">Le bonheur au travail c'est pour nous
                    .......................................</p>
                <p class="valign-wrapper">Les enjeux collectifs de la qualité de Vie au Travail : </p>
                <p class="valign-wrapper ">Les 3 critéres à remplir pour un Happy projet validé : </p>
            </div>
        </div>
    </div>
</div>


<!-- ***************************Slogans of company************************* -->
<div class="row">
    <div class="col s12 m4">
        <div class="row">
            <div class="card-panel blue darken-2">
                      <span class="white-text"> Le bonheur au travail c'est pour nous .......................................
                      </span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="row">
            <div class="card-panel blue darken-2">
                      <span class="white-text"> Les enjeux collectifs de la qualité de Vie au Travail :
                      </span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="row">
            <div class="card-panel blue darken-2">
                      <span class="white-text"> Les 3 critéres à remplir pour un Happy projet validé :
                      </span>
            </div>
        </div>
    </div>
</div>







