<div class="container">
    <div class="row center-align">
        <h1 class="center-align"> Les Happy Talents </h1>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='BienEtre'>Bien-être</a>
        <ul id='BienEtre' class='dropdown-content'>
            <li class="center-align">FengShui <br>
                <i class="material-icons">star</i>
                 <i class="material-icons">star</i>
                  <i class="material-icons">star_half</i>
                  <i class="material-icons">star_border</i>
                  <i class="material-icons">star_border</i>
            </li>
            <li>Hypnose</li>
            <li>Massage</li>
            <li>Mindfullness</li>
            <li>PNL</li>
            <li>Réflexologie</li>
            <li>Shiatsu</li>
            <li>Soins énérgétiques</li>
            <li>Sophrologie</li>
            <li>Yoga</li>
            <li>Autre</li>
        </ul>
        <a class='dropdown-button btn' href='#' data-activates='Bricolage'>Bricolage</a>
        <ul id='Bricolage' class='dropdown-content'>
            <li>Mécanique</li>
            <li>Menuiserie</li>
            <li>Réparation électroménager</li>
            <li>Robotique</li>
        </ul>
        <a class='dropdown-button btn' href='#' data-activates='Broderie'>Broderie</a>
        <a class='dropdown-button btn' href='#' data-activates='CauseHumanitaire'>Cause humanitaire</a>



    </div>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">Bien-être</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m6 xl3">
                        FengShui :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Hypnose
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Massage :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Mindfullness :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        PLN :
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">

                        Réflexologie :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Shiatsu :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Soins énérgétiques :
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Sophrologies :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Yoga :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
        </li>
        <li>
            <div class="collapsible-header">Bricolage</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Broderie
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Cause humanitaire
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Spectacle</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m6 xl3">
                        Cabaret :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Cirque
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Comédie Musicale :
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                    </div>
                    <div class="col s12 m6 xl3">
                        Concert Rock
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_half</i>
                        <i class="material-icons">star_border</i>
                    </div>
                </div>
            </div>
        </li>
    </ul>


</div>