<div class="row">
    <h1> Logo de l'entreprise</h1>
    <div class="col s12 m6 PC_bCompany center-align">
        <table>
            <tbody>
            <tr>
                <th>Activité</th>
                <td>Pharma</td>
            </tr>
            <tr>
                <th>Effectif</th>
                <td> 50 - 100</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>01/01/2000</td>
            </tr>
            <tr>
                <th>Lieu des sites</th>
                <td>Lyon -France</td>
            </tr>
            <tr>
                <th rowspan="2">Référent Happy Sens</th>
                <td><i class="material-icons prefix">phone</i></td>
            </tr>
            <tr>
                <td><i class="material-icons prefix">email</i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col s12 m6 center-align PC_bSlogan">
        <p class="valign-wrapper">Le bonheur au travail c'est pour nous .......................................</p>
        <p class="valign-wrapper">Les enjeux collectifs de la qualité de Vie au Travail : </p>
        <p class="valign-wrapper ">Les 3 critéres à remplir pour un Happy projet validé : </p>
    </div>
</div>
