<div>
    <h5 class="light-blue-text text-darken-2">Mes Happy Salarié : </h5>
</div>
<div class="collection">
    <div class="col s12 m6 center-align">
        <ul class="">
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/1"
                     alt="Vignette photo"></li>
            <li>Joe Do</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="col s12 m6  center-align">
        <ul class="">
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/2"
                     alt="Vignette photo"></li>
            <li>Name</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="col s12 m6  center-align">
        <ul>
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/3"
                     alt="Vignette photo"></li>
            <li>Name</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="col s12 m6  center-align">
        <ul>
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/4"
                     alt="Vignette photo"></li>
            <li>Name</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="col s12 m6  center-align">
        <ul>
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/5"
                     alt="Vignette photo"></li>
            <li>Name</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="col s12 m6  center-align">
        <ul>
            <li><img class="circle responsive-img" src="http://lorempixel.com/100/100/people/6"
                     alt="Vignette photo"></li>
            <li>Name</li>
            <li>humeur</li>
            <li>Ici le slogan de chaque salarié</li>
        </ul>
    </div>
    <div class="row">
        <span class="col s12 center"><a href="#">A completer avec un Slider pour voir les autres salarié</a></span>
    </div>

</div>
