<section class="containHowItWorks">
    <div class="row bloc_2">
        <!-- view for desktop only -->
        <div class="col s12 largeScreen">
            <div class="container center-align">
                <h3 class="title amber-text text-darken-3">Comment ça marche ?</h3>
                <br>
                <div class="row containerSchema" data-aos="slide-left">
                    <div class="textSchema col s3 offset-s2" id="test">
                        <div class="test">
                            <h3 class="titleShema center blue-text text-darken-2">2 Présentation</h3>
                            <p class="textSchema">
                                Réunion de lancement: Restitution de la
                                cartographie des talents cachés
                                + Présentation de la plateforme HappySens
                            </p>
                        </div>
                    </div>
                    <div class="textSchema col s4">
                        <h3 class="titleShema center pink-text text-darken-2">4 Happy Projet</h3>
                        <p class="textSchema">
                            Consulation des projets proposés ou création de votre
                            Happy Projet reposant sur vos passions et talents
                            cachés (sport, musique, littérature, ...)
                            Consultation des pofils « coach experts » référencés
                        </p>
                    </div>
                    <div class="textSchema col s3">
                        <h3 class="titleShema center amber-text text-darken-2">6 Validation du projet</h3>
                        <p class="textSchema">
                            Validation du projet par Happy Comité
                            (critères de validation connus de tous)
                        </p>
                    </div>
                    <div class="col s12">
                        <img class="responsive-img" src="{{ asset('assets/images/1.png') }}"
                             style="min-width: 95%; max-height: 900px;" alt="schema process">
                    </div>
                    <div class="textSchema col s3">
                        <h3 class="titleShema center pink-text text-darken-2">1 Questionnaire</h3>
                        <p class="textSchema">
                            « Passions et talents cachés »
                            Réponses anonymes
                        </p>
                    </div>
                    <div class="textSchema col s3 offset-s1">
                        <h3 class="titleShema center amber-text text-darken-2">3 Inscription</h3>
                        <p class="textSchema">
                            Inscription individuelle et sécurisée sur la
                            plateforme. Création du profil,
                            renseignement passion et ressenti
                        </p>
                    </div>
                    <div class="textSchema col s3 offset-s1">
                        <h3 class="titleShema center blue-text text-darken-2">5 Appel au soutien</h3>
                        <p class="textSchema">
                            Appel au soutien, vote et candidatures
                            pour fédérer une communauté et une
                            équipe autour du projet
                        </p>
                    </div>
                </div>
                <br>
                <div class="row containerSchema" data-aos="slide-right">
                    <img class="responsive-img" src="{{ asset('assets/images/2.png') }}"
                         style="min-width: 95%; max-height: 900px;" alt="schema process">
                    <div class="textSchema col s3">
                        <h3 class="titleShema center pink-text text-darken-2">Happy Coach Référent</h3>
                        <p class="textSchema">
                            Mise en relation via la plateform avec le
                            coach expert référent pour copilotage du
                            projet sur 6 à 12 mois
                        </p>
                    </div>
                    <div class="textSchema col s3">
                        <h3 class="titleShema center amber-text text-darken-2">Happy Atelier</h3>
                        <p class="textSchema">
                            Participation aux ateliers pour aboutir à
                            la concrétisation de votre Happy Projet
                            collectif ainsi qu'aux ateliers « bien-être
                            et gestion de stress » proposés en continu
                        </p>
                    </div>
                    <div class="textSchema col s4">
                        <h3 class="titleShema center blue-text text-darken-2">Communication</h3>
                        <p class="textSchema">
                            Déploiement de la communication interne
                            et externe sur l'avancé des projets
                            partage sur les résaux sociaux
                        </p>
                    </div>
                    <div class="textSchema col s2">
                        <h3 class="titleShema center pink-text text-darken-2">Célébration</h3>
                        <p class="textSchema">
                            Événement de fin de projet
                            « célébration collective ».
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- view for mobile only -->
        <div class="col s12 mobile">
            <div class="container center-align">
                <span class="cardTitle amber-text text-darken-3">Comment ça marche ?</span>
                <br>
                <h3 class="titleSecond blue-text text-darken-2">1- Préparation</h3>
                <div class="row" data-aos="slide-right">
                    <div class="row">
                        <div class="col s12 colSchema">
                            <h3 class="titleShema center pink-text text-darken-2">1-1 Questionnaire</h3>
                            <p class="textSchema">
                                « Passions et talents cachés »
                                Réponses anonymes
                            </p>
                        </div>
                        <div class="col s12 colSchema">
                                <h3 class="titleShema center blue-text text-darken-2">1-2 Présentation</h3>
                            <p class="textSchema">
                                    Réunion de lancement: Restitution de la
                                    cartographie des talents cachés
                                    + Présentation de la plateforme HappySens
                                </p>
                        </div>
                            <div class="col s12 colSchema">
                                <h3 class="titleShema center amber-text text-darken-2">1-3 Inscription</h3>
                                <p class="textSchema">
                                    Inscription individuelle et sécurisée sur la
                                    plateforme. Création du profil,
                                    renseignement passion et ressenti.
                                </p>
                            </div>

                        <div class="col s12 colSchema">
                            <h3 class="titleShema center pink-text text-darken-2">1-4 Happy Projet</h3>
                            <p class="textSchema">
                                    Consulation des projets proposés ou création de votre
                                    Happy Projet reposant sur vos passions et talents
                                    cachés (sport, musique, littérature, ...)
                                    Consultation des profils « coach experts » référencés.
                                </p>
                        </div>
                        <div class="col s12 colSchema">
                            <h3 class="titleShema center blue-text text-darken-2">1-5 Appel au soutien</h3>
                            <p class="textSchema">
                                Appel au soutien, vote et candidatures
                                pour fédérer une communauté et une
                                équipe autour du projet.
                            </p>
                        </div>
                        <div class="col s12 colSchema">
                            <h3 class="titleShema center amber-text text-darken-2">1-6 Validation du projet</h3>
                            <p class="textSchema">
                                    Validation du projet par Happy Comité
                                    (critères de validation connus de tous).
                                </p>
                        </div>
                        <div class="col s4 offset-s4">
                            <img class="responsive-img" src="{{ asset('assets/images/1-vert.png') }}"
                                 style="min-width: 95%; max-height: 900px;" alt="schema process">
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row" data-aos="slide-left">
                        <h3 class="titleSecond blue-text text-darken-2">2- Réalisation</h3>
                            <div class="textSchema col s12">
                                <h3 class="titleShema center pink-text text-darken-2">2-1 Happy Coach Référent</h3>
                                <p class="textSchema">
                                    Mise en relation via la plateform avec le
                                    coach expert référent pour copilotage du
                                    projet sur 6 à 12 mois.
                                </p>
                            </div>
                            <div class="textSchema col s12">
                                <h3 class="titleShema center amber-text text-darken-2">2-2 Happy Atelier</h3>
                                <p class="textSchema">
                                    Participation aux ateliers pour aboutir à
                                    la concrétisation de votre Happy Projet
                                    collectif ainsi qu'aux ateliers « bien-être
                                    et gestion de stress » proposés en continu.
                                </p>
                            </div>
                            <div class="textSchema col s12">
                                <h3 class="titleShema center blue-text text-darken-2">2-3 Communication</h3>
                                <p class="textSchema">
                                    Déploiement de la communication interne
                                    et externe sur l'avancé des projets
                                    partage sur les résaux sociaux.
                                </p>
                            </div>
                            <div class="textSchema col s12">
                                <h3 class="titleShema center pink-text text-darken-2">2-4 Célébration</h3>
                                <p class="textSchema">
                                    Événement de fin de projet
                                    « célébration collective ».
                                </p>
                            </div>
                        <div class="col s4 offset-s4">
                            <img class="responsive-img" src="{{ asset('assets/images/2-vert.png') }}"
                                 style="min-width: 95%; max-height: 900px;" alt="schema process">
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section>