<section class="containHowItWorks">
    <div class="row bloc_2">
        <div class="col s12">
            <div class="container center">
                <span class="cardTitle amber-text text-darken-3">Comment ça marche ?</span>
                <br>
                <div class="row">
                    <div class="col s2 offset-s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-body"><span>
                                    Réunion de lancement: Restitution de la
                                    cartographie des talents cachés
                                    + Présentation de la plateforme HappySens</span>
                                </div>
                                <div class="collapsible-header blue darken-3"><span class="white-text">Présentation</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-body"><span>
                                    Consulation des projets proposés ou création de votre
                                    Happy Projet reposant sur vos passions et talents
                                    cachés (sport, musique, littérature, ...)
                                    Consultation des pofils « coach experts » référencés
                                    </span></div>
                                <div class="collapsible-header pink darken-2"><span class="white-text">Happy Projet</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-body"><span>
                                    Validation du projet par Happy Comité
                                    (critères de validation connus de tous)
                                    </span></div>
                                <div class="collapsible-header amber darken-3"><span class="white-text">Validation du projet</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                <div class="col s12">
                <img class= "responsive-img" src="{{ asset('assets/images/1.png') }}" style="min-width: 95%; max-height: 900px;" alt="schema process">
                </div>
                    <div class="col s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header pink darken-2"><span class="white-text">Questionnaire</span></div>
                                <div class="collapsible-body"><span>
                                    « Passions et talents cachés »
                                    Réponses anonymes
                                    </span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                            <div class="collapsible-header amber darken-3"><span class="white-text">Inscription</span></div>
                                <div class="collapsible-body"><span>
                                    Inscription individuelle et sécurisée sur la
                                    plateforme. Création du profil,
                                    renseignement passion et ressenti
                                    </span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header blue darken-3"><span class="white-text">Appel au soutien</span></div>
                                <div class="collapsible-body"><span>
                                    Appel au soutien, vote et candidatures
                                    pour fédérer une communauté et une
                                    équipe autour du projet
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                <img class= "responsive-img" src="{{ asset('assets/images/2.png') }}" style="min-width: 95%; max-height: 900px;" alt="schema process">
                    <div class="col s2">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header pink darken-2"><span class="white-text">Happy Coach Référent</span></div>
                                <div class="collapsible-body"><span>
                                    Mise en relation via la plateform avec le
                                    coach expert référent pour copilotage du
                                        projet sur 6 à 12 mois
                                    </span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s1">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header amber darken-3"><span class="white-text">Happy Atelier</span></div>
                                <div class="collapsible-body"><span>
                                    Participation aux ateliers pour aboutir à
                                    la concrétisation de votre Happy Projet
                                    collectif ainsi qu'aux ateliers « bien-être
                                    et gestion de stress » proposés en continu
                                    </span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s1">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header blue darken-3"><span class="white-text">Communication</span></div>
                                <div class="collapsible-body"><span>
                                    Déploiement de la communication interne
                                    et externe sur l'avancé des projets
                                    partage sur les résaux sociaux
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s2 offset-s1">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header pink darken-2"><span class="white-text">Célébration</span></div>
                                <div class="collapsible-body"><span>
                                    Événement de fin de projet
                                    « célébration collective »
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>