<div class="col s12 m6 valign-wrapperr">
    <div class="col s12 valign">
        <div class="row">
            <p class="text-form blue-text text-darken-3">Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad
                modum
                in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam
                faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem
                invehi insectarique vehementius, quae in nostris rebus non satis </p>
        </div>
    </div>
    <div class="col s12 valign">
        <div class="row">
            <p class="text-form blue-text text-darken-3">Nec minus feminae quoque calamitatum participes fuere similium. nam ex hoc quoque sexu
                peremptae
                sunt originis altae conplures, adulteriorum flagitiis obnoxiae vel stuprorum. inter quas
                notiores fuere Claritas et Flaviana, quarum altera cum duceretur ad mortem, indumento, quo
                vestita erat, abrepto, ne velemen quidem secreto membrorum sufficiens </p>
        </div>
    </div>
    <div class="col s12 valign">
        <div class="row">
            <p class="text-form blue-text text-darken-3">Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc
                Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis
                inlustris.
            </p>
        </div>
    </div>
</div>