<div class="col s12">
    <div class="row">
        <p class="center-align title amber-text text-darken-2">Ensemble, ramenons l’humain au cœur de la stratégie d’entreprise et des enjeux RH !</p>
    </div>
</div>
<div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active"><i class="material-icons blue-text text-darken-3">business_center</i><b class="blue-text text-darken-3">DG, DRH, Manager</b></div>
            <div class="collapsible-body">
                    <span>- Vous êtes <b>DG, DRH, Manager</b> et vous cherchez une solution bonheur au travail innovante,
                        globale et durable pour vos collaborateurs ?</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons pink-text text-darken-2">brightness_5</i><b class="pink-text text-darken-2">Chief Officer Happiness</b></div>
            <div class="collapsible-body">
                <p>- Vous êtes <b>Chief Officer Happiness</b> et vous recherchez un outil « tout en un » pour trouver et
                    proposer des animations, être mis en relation avec des prestataires experts et fédérer une équipe
                    interne à vos côtés sur une thématique choisie ?</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons amber-text text-darken-3">person</i><b class="amber-text text-darken-3">Collaborateurs, ou membre du CE</b></div>
            <div class="collapsible-body">
                <p>- Vous êtes <b>collaborateurs,</b> ou <b>membre du CE</b> et vous souhaitez proposer notre approche du
                    pilotage du bonheur au travail à votre employeur ?</p>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">group</i><b>Autres</b></div>
            <div class="collapsible-body">
                <p>- Vous êtes <b>un praticien et expert du Bien-être, de la Gestion de stress, un Coach RH et Agilité
                        managériale, un Formateur expert en Pratiques Sportives, Artisanales, Artistiques, Culinaires,
                        Science et Technologies, Tourisme et linguistique,</b> ...</p>
            </div>
        </li>
    </ul>
</div>