.containExplainEmploye {
  margin: 50px 0;
  i {
    color: $pinkColor;
  }
  .detailsExplainEmploye {
    border-radius: 5px;
    margin: auto;
    font-family: $titleFont;
    font-size: 1.3em;
    padding: 30px 10px;
    text-align: center;
  }
  ul {
    padding-left: 5%;
    li {
      font-family: 'Montserrat', sans-serif;
      list-style-type: disc;
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
}
.titleExplainEmploye {
  font-family: $textFont;
  color: $amberColor;
  font-size: 3em;
  margin-bottom: 35px;
}
.containerPicsEmploye {
  padding: 50px 15px 0;
  margin-top: 50px;
  text-align: center;
  .typeExplainEmploye {
    font-family: $titleFont;
    font-size: 1.5em;
    padding: 20px;
  }
}

.detailsInfosEmploye {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(black, 0.8),rgba(black , 0.7)), url("../images/happysens-salaries.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  ul {
    color: white;
    padding-left: 5%;
    li {
      font-family: $titleFont;
      list-style-type: circle;
      font-size: 1.3em;
      margin-bottom: 10px;
    }
  }
}
