.containExplainEmploye {
  padding: 40px 40px 0 40px;
  text-align: left;
  .detailsExplainEmploye {
    border-radius: 5px;
    margin: auto;
    font-family: $textFont;
    font-size: 1.3em;
    padding: 30px 10px;
    text-align: left;
  }
  ul {
    padding-left: 5%;
    li {
      font-family: 'Montserrat', sans-serif;
      list-style-type: disc;
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
}
.titleExplainEmploye {
  font-weight: bold;
  font-family: $textFont;
  font-size: 2.2em;
  margin-bottom: 35px;
}
.containerPicsEmploye {
  padding: 50px 15px 0;
  margin-top: 50px;
  text-align: center;
  .typeExplainEmploye {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    padding: 20px;
  }
}
