// Footer
.page-footer {
  margin-bottom: -25px;
  background-color: $darkColor;
}

.followUs {
  //width: 100%;
  a {
    color: white;
    &:hover {
      color: greycd ;
    }
  }
  .margin {
    margin: 5px 0;
  }
  li {
    font-size: 1.2em;
    color: white;
    &:hover {
      color: black;
    }
    span {
      font-size: 0.85em;
      margin-left: 5px;
    }
  }
}