// Jumbotron
// Home
.parallax-container-home {
  min-height: 101vh;
  background-image: radial-gradient(rgba(black, 0.15),rgba(black, 0.3)), url("../images/happysens-accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  margin-top: -90px;
}
.headerTitleHome {
  margin: auto;
  border-radius: 5px;
  top: 40vh;
  position: relative;
  transform: translatey(-40%);
  h1 {
    font-family: $textFont;
    font-size: 5.5em;
    img {
      margin-bottom: -40px;
    }
  }
  h5 {
    margin-left: 20px;
    font-size: 2em;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: $titleFont;
  }
}
.btnHome {
  text-shadow: 0 0 0 rgba(black, 0.4);
  margin-top: 10px;
  font-size: 0.85em;
}
.goDown {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  width: 45vw;
}