// blocConcept1
.sliderBloc {
  line-height: 2.3em;
  padding: 30px 10px;
  h3 {
    font-family: $textFont;
    font-size: 3.5em;
    text-align: center;
  }
}

#flashNoticeContact{
  opacity: 0.9;
  .card {
    position: fixed;
    left: 10px;
    top: 40px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #42c338;
    color: #38a331;
    font-weight: 400;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
  }
  i {
    color: #42c338;
  }
}

#flashNoticeError{
  opacity: 0.9;
  .card {
    position: fixed;
    left: 10px;
    top: 40px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid red;
    color: red;
    font-weight: 400;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
  }
  i {
    color: red;
  }
}

.presentation {
  padding: 30px 0;
}

.sliderHeader {
  font-size: 1em;
  font-family: $textFont;
  text-align: justify;
  font-weight: bold;

}

.sliderParagraph {
  font-size: 1.2em;
  text-align: justify;
  font-weight: inherit;

}

.slider {
  margin: 35px 0;
}

.sliderParagraph {
  margin-top: 65px;
}

.slider .slides {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.slider .indicators .indicator-item.active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  border: 3px solid #E0E0E0;
  background-color: #FFA000;
}

.vignettesHome {
  max-height: 150px;
  max-width: 150px;
}

.containerPicsHome {
  padding: 80px;
  margin-top: 50px;
  text-align: center;
  .typeExplainHome {
    font-family: $titleFont;
    font-size: 1.5em;
    padding: 20px;
  }
}

.blocExplainIndex {
  h3 {
    font-size: 3em;
    font-family: $textFont;
    margin-bottom: 40px;
  }
  h5 {
    font-size: 1.5em;
    margin: 50px 5px;
    font-family: $textFont;
    color: $darkColor;
  }
  .containExplainIndex {
    margin-top: 50px;
    i {
      color: white;
    }
    .detailsExplainIndex {
      margin: auto 10px;
      font-family: $textFont;
      font-size: 1.4em;
      padding: 30px 10px;
      text-align: center;
      color: $darkColor;
    }
  }
}

.titleTheme {
  position: relative;
  top: 25%;
  transform: translatey(-25%);
}
