.titleProfilEmploye {
  font-family: "Patrick Hand SC", cursive;
}
.containerStarTalents {
  padding-top: 25px;
}

.card .card-reveal {
  padding: 25px;
}

.infosEmploye {
  padding-top: 20px;
  td {
    color: white;
    font-weight: bold;
  }
  tr {
    font-weight: lighter;
  }
}
p, span{
  font-family: "Montserrat", sans-serif;
}
