.titleProfilEmploye {
  font-family: "Patrick Hand SC", cursive;
}
.containerStarTalents {
  padding-top: 25px;
}

.card .card-content {
  padding-top: 40px;
}

.myInfosEmploye {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 25px;
}

.card .card-reveal {
  padding: 25px;
}

.infosEmploye {
  padding-top: 20px;
  th {
    color: grey;
  }
  td {
    color: black;
    font-weight: bold;
  }

}
.tabs-content.carousel {
  padding: 25px 5px;
  margin-bottom: 25px;
}

.card-profile-image {
  position: absolute;
  margin-top: -75px;
  margin-left: 25px;
  z-index: 2;
  cursor: pointer;
  max-width: 150px;
  max-height: 150px;
  img {
    max-height: 150px;
    max-width: 130px;
    background-color: #fff;
  }
}
.mini-company {
  cursor: pointer;
  text-align: left;
  .chip {
    font-size: 1em;
    background-color: $blueColor;
    color: white;
  }
}

.detailsProject {
  font-size: 0.7em;
  font-weight: lighter;
}
.revealProject {
  .row {
    padding: 20px 5px;
  }
  p {
    padding: 0 10px;
  }
  .footerReveal {
    padding: 15px 5px;
    margin-top: 10px;
  }
}

.toast {
  background-color: $blueColor !important;
  font-size: large !important;
}

//.userskills {
//  select {
//    display: block !important;
//  }
//}