.titleProfilEmploye {
  font-family: "Patrick Hand SC", cursive;
}
.containerStarTalents {
  padding-top: 25px;
}

.card .card-content {
  padding-top: 40px;
}

.card .card-reveal {
  padding: 25px;
}

.infosEmploye {
  padding-top: 20px;
  th {
    color: grey;
  }
  td {
    color: black;
    font-weight: bold;
  }

}
.tabs-content.carousel {
  padding: 25px 5px;
  margin-bottom: 25px;
}

p, span{
  font-family: "Montserrat", sans-serif;
}

.card-profile-image {
  position: absolute;
  margin-top: -75px;
  margin-left: 25px;
  z-index: 2;
  cursor: pointer;
  width: 150px;
  height: 150px;
}
.mini-company {
  position: absolute;
  margin-top: -230px;
  margin-left: 25px;
  z-index: 2;
  cursor: pointer;
  text-align: left;
  .chip {
    font-size: 1em;
    color: $blueColor;
  }
}

.detailsProject {
  font-size: 0.7em;
  font-weight: lighter;
}
.revealProject {
  .row {
    padding: 20px 5px;
  }
  p {
    padding: 0 10px;
  }
  .footerReveal {
    padding: 15px 5px;
    margin-top: 10px;
  }
}