.headerDetailsProject {
  height: 30vh;
  max-height: 400px;
  border-radius: 2px;
  padding: 1px;
  overflow: hidden;
  .background {
    width: 100%;
    display: block;
    position: relative;
    img {
      width: 100%;
      height: 400px;
      margin-top: -50px;
    }
    .content {
      position: absolute;
      top: 10px;
      margin-left: 10px;
    }
    p {
      transform: translatex(26vw);
      text-align: center;
      justify-content: center;
      display: flex;
    }
  }
}


.detailsProjectExplain, .dateProject {
  padding-left: 20px;
}
.containList {
  padding-left: 7px;
}
.inline-team-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin-right: 5px;
  }
}

.personPlus {
  margin-top: 10px;
  background-color: $blueColor;
  &:hover {
    background-color: rgba($blueColor, 0.8);
  }
}