{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block content %}
<div id="contentEntreprise" class="parallax-container-others">
    <div class="section no-pad-bot">
        <div class="row">
            <div class="container headerTitleOthers" id="headerTitle">
                <h1 class="header left blue-text text-darken-1">Le bonheur au travail initié et piloté par vos collaborateurs.</h1>
                <div class="row">
                    <h5 class="header left white-text">Bien-être authentique, performance collective et engagement durable.</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="generalContainer" id="introEntreprise">
    <div class="containerIntroEntreprise container">
        <h3>Vous souhaitez proposer une solution durable et efficace pour améliorer le bien-être de vos salariés ?</h3>
        <br>
        <h4>Déployez HappySens dans votre entreprise et boostez la motivation de vos collaborateurs !</h4>
    </div>
</section>

<section class="generalContainer" id="explainEntreprise">
    <div class="container">
        <div class="col s12 blocExplainEntreprise">
            <h3 class="center amber-text text-darken-2">Une approche globale, unique, basée sur des convictions fortes</h3>
            <div class="row">
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-right">
                    <h5 class="titleExplainEntreprise blue-text text-darken-3">Le bonheur au travail, entre phénomène sociétal et enjeux cruciaux pour l’entreprise</h5>
                    <p class="detailsExplainEntreprise blue-text text-darken-3">Dans un monde en pleine mutation, la performance, la compétitivité et la pérennité des entreprises sont étroitement liées à l’engagement des salariés ainsi qu’à l’attractivité et la réputation de leur marque employeur. </p>
                </div>
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-left">
                    <h5 class="titleExplainEntreprise blue-text text-darken-3">Après la transformation digitale, les RH font face à de nouvelles attentes des collaborateurs</h5>
                    <p class="detailsExplainEntreprise blue-text text-darken-3">Le bonheur au travail est un sujet à prendre au sérieux car il permet d’agir sur des leviers très efficaces pour mobiliser, instaurer la confiance et répondre à une quête de sens, d’autonomie et de reconnaissance profonde et grandissante chez les collaborateurs (toutes générations confondues). Le désengagement, l’absentéisme, la perte des talents sont des fléaux pour votre compétitivité, HappySens vous permet de réenchantez l’expérience collaborateur</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-right">
                    <h5 class="titleExplainEntreprise blue-text text-darken-3">HappySens met à votre disposition une réponse globale au service d’un parti pris unique :</h5>
                    <p class="detailsExplainEntreprise blue-text text-darken-3">Votre salarié mieux que quiconque sait ce dont il a besoin pour se sentir plus heureux. En plus de la gestion du stress il a besoin de s’épanouir en tant qu’être humain en exprimant ses talents et en vivant ses passions personnelles.</p>
                </div>
                <div class="col s12 l6 containExplainEntreprise" data-aos="fade-left">
                    <h5 class="titleExplainEntreprise blue-text text-darken-3">Notre conviction et notre raison d’être :</h5>
                    <p class="detailsExplainEntreprise blue-text text-darken-3">Vos collaborateurs ont bien plus de talents que vous ne pensez, leurs passions sont la clé de leur épanouissement et de leur mobilisation. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="generalContainer" id="detailsEntreprise">
    <div class="row">
        <div class="container">
            <h4 class="titleDetailsEntreprise amber-text text-darken-2 center">Plateforme et programme innovant d'accompagnement du bien-être en entreprise</h4>
        </div>
        <div class="detailsInfosEntreprise">
            <div class="container blue-text text-darken-2" data-aos="fade-left">
                <span class="cardTitle">HappySens, la solution complète et inédite pour piloter et accompagner des projets de bonheur au travail qui font sens dans votre entreprise.</span>
                <ul>
                    <li>Une plateforme collaborative de gestion de projet Happy avec mise en relation avec une communauté d’experts sélectionnés (RH, Bien-être, sport, musique, littérature, peinture, …)</li>
                    <li>Un questionnaire « Passions et talents cachés »</li>
                    <li>Un comité interne de validation et suivi de projet</li>
                    <li>Un dispositif d’accompagnement tout au long du projet par un « Happy Coach référent » </li>
                    <li>Un rapport mensuel sur ressenti des salariés et avancés des projets</li>
                    <li>Une communication continue pour rayonner de l’intérieur vers l’extérieur</li>
                    <li>Un événement de fin de projet </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="generalContainer" id="talentsEntreprise">
    <div class="row">
        <div class="container">
            <h4 class="titleDetailsEntreprise amber-text text-darken-2 center">Plateforme et programme innovant d'accompagnement du bien-être en entreprise</h4>
        </div>
        <div class="containerTalentsEntreprise" data-aos="fade-right">
            <div class="container containsTalents">
                <h4 class="titleSecond blue-text text-darken-3">Vos talents cachés passions ont le pouvoir de créer du bonheur, libérez-les !</h4>
            </div>
            <img src="{{ asset('assets/images/talents-happysens.png') }}" alt="" class="responsive-img">
            <div class="container containsTalents">
                <p class="typeExplainEmploye blue-text text-darken-2">Sportifs, musiciens, danseurs, peintres, écrivain, jongleurs, comédiens, chanteurs, dompteurs, scientifiques, historiens, …  </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container" data-aos="fade-left">
            <blockquote class="titleEndEntreprise blue-text text-darken-2 center">
                <p>Libérez les passions et faites la lumière sur les talents cachés. Créer l’opportunité du bonheur au travail et votre marque employeur n’en sera que plus attractive et authentique !</p>
                <cite class="sign">By - HappySens</cite>
            </blockquote>
        </div>
    </div>
</section>
{% endblock %}