{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block content %}

<div id="contentContact" class="parallax-container-others">
    <div class="section no-pad-bot">
        <div class="col s12">
            <div class="container headerTitleOthers left" id="headerTitle">
                <h1 class="header left amber-text text-darken-2">Contactez-nous</h1>
                <div class="row">
                    <div class="col s12">
                    <h5 class="header left white-text">Tél.</h5>
                    </div>
                    <div class="col s12">
                    <h5 class="header left white-text">Mail.contact@happy-sens.fr</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="Contact">
    <div class="row">
        {% include 'partials/components/textContact.html.twig' %}
        {% include 'partials/components/formContact.html.twig' %}
    </div>
</section>
{% endblock %}
