{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block content %}

    <div id="contentInscription" class="parallax-container-others">
        <div class="section no-pad-bot">
            <div class="col s12">
                <div class="headerTitleOthers container" id="headerTitle">
                    <h1 class="header amber-text text-darken-2">InscriptionCompany</h1>
                    <div class="row">
                        <h5 class="header white-text">Libérez les passions et donnez du sens au travail</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <form action="" method="post" class="generalContainer">
            <div class="row">
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Nom de l'entreprise:</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Activité :</h5>
                </div>
                <div class="input-field col s6">
                    <input id="firstname" name="firstname" type="text" class="validate">
                    <label for="firstname"><span class="requireInput">* </span>Entreprise</label>
                </div>
                <div class="input-field col s6">
                    <input id="lastname" name="lastname" type="text" class="validate">
                    <label for="lastname"><span class="requireInput">* </span>Activité </label>
                </div>
                <div class="col s12">
                    <h5 class="titleInscription pink-text text-darken-2">Adresse :</h5>
                </div>
                <div class="input-field col s12">
                    <input id="city" name="city" type="text" class="validate">
                    <label for="city"><span class="requireInput">* </span>Adresse de l'entreprise</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Date de création :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Lieu des sites :</h5>
                </div>
                <div class="input-field col s6">
                    <input id="jobs" name="jobs" type="text" class="validate">
                    <label for="entreprise"><span class="requireInput">* </span>Date de création</label>
                </div>
                <div class="input-field col s6">
                    <input id="jobs" name="jobs" type="text" class="validate">
                    <label for="jobs">Lieu des sites</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Effectif :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Référent HappySens :</h5>
                </div>
                <div class="input-field col s6">
                    <input id="jobs" name="jobs" type="text" class="validate">
                    <label for="entreprise"><span class="requireInput">* </span>Effectif</label>
                </div>
                <div class="input-field col s6">
                    <input id="jobs" name="jobs" type="text" class="validate">
                    <label for="jobs"><span class="requireInput">* </span>Votre nom</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Téléphone référent HappySens :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Emails référent HappySens :</h5>
                </div>
                <div class="input-field col s6">
                    <input id="lastname" name="lastname" type="text" class="validate">
                    <label for="lastname"><span class="requireInput">* </span>Numéro de téléphone</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="email"><span class="requireInput">* </span>Emails</label>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Mot de passe :</h5>
                </div>
                <div class="col s6">
                    <h5 class="titleInscription pink-text text-darken-2">Confirmation :</h5>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password"><span class="requireInput">* </span>Mot de passe</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password"><span class="requireInput">* </span>Confirmation mot de passe</label>
                </div>
                <div class="col s12">
                    <p><span class="requireInput">* </span> Champs requis</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field right">
                    <a href="{{ path('inscriptionCompany2') }}" class="btn waves-effect waves-light amber darken-2">
                        Continuer
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
