{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block navbar %}
    {{ include('partials/components/navbarIn.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card-horizontal">

        </div>
    </div>
{% endblock %}

