{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block navbar %}
{{ include('partials/components/navbarIn.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">

        <h1 class="titleProfilEmploye header center light-blue-text text-darken-2">Le bonheur au travail commence par un
            projet qui fait sens !</h1>

    </div>

    <div class="row ">
        <div class="col s12 light-blue darken-2">
            <h5 class="white-text">Slogan (à completer):</h5>
                <p class="white-text">"Au travail je me sens happy quand...
                    <i> il y a des frites à la cantine."</i></p>


            <h5 class="white-text">Présentation/Bio (paragraphe) :</h5>
               <p> <span class="white-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                                Quisque ornare iaculis leo eu faucibus. <br>
                                Vestibulum ac tellus ultricies ex suscipit rhoncus.</span></p>

            <h5 class="white-text">
                Langues parlées par ordre de préférence :
            </h5>
            <ul>
                <li class="white-text">Anglais</li>
                <li class="white-text">Espagnol</li>
                <li class="white-text">Latin</li>
            </ul>

        </div>
    </div>

    <div class="row">

            <div class="col s11"><h5 class="light-blue-text text-darken-2">Mes passions et talents cachés :</h5></div>
            <div class="col s1"><a class="btn-floating btn-large waves-effect waves-light amber darken-2"><i class="material-icons">add</i></a>
            </div>
        <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header amber darken-2 white-text"><i class="material-icons">filter_drama</i>First<input type="range" id="test5" min="0" max="5" style="width: 100px"/></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>

                <li>
                    <div class="collapsible-header light-blue darken-2 white-text"><i class="material-icons">place</i>Second<input type="range" id="test5" min="0" max="5" style="width: 100px"/></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header pink darken-2 white-text"><i class="material-icons">whatshot</i>Third<input type="range" id="test5" min="0" max="5" style="width: 100px"/></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>

        </div>

    </div>
    <div class="row">
    <h2 class="center-align light-blue-text text-darken-2"> Mes Happy projets </h2>
    <div class="col s12 l6 xl4 PC_bProjectInProgress">
        <h2 class="center-align light-blue-text text-darken-2"> En attente</h2>
        <div class="row">
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="public/images/happysens-musique.jpg">
                    </div>
                    <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
<span class="card-title grey-text text-darken-4">Titre du projet<i
            class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="public/images/happysens-sport.jpg">
                    </div>
                    <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titre du projet<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked
                            on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col s12 l6 xl4 PC_bProjectInProgress">
            <h2 class="center-align light-blue-text text-darken-2"> En cours</h2>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="public/images/happysens-musique.jpg">
                        </div>
                        <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
<span class="card-title grey-text text-darken-4">Titre du projet<i
            class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="public/images/happysens-sport.jpg">
                        </div>
                        <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Titre du projet<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l6 xl4 PC_bProjectInProgress">
            <h2 class="center-align light-blue-text text-darken-2">Terminé</h2>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="public/images/happysens-musique.jpg">
                        </div>
                        <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
<span class="card-title grey-text text-darken-4">Titre du projet<i
            class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="public/images/happysens-sport.jpg">
                        </div>
                        <div class="card-content">
<span class="card-title activator grey-text text-darken-4">Titre du projet<i
            class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Titre du projet<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

