<h3>Merci d'avoir contacté HappySens, </h3>

Nous vous remercions de nous avoir contacté.
Nous vous répondrons ans les meilleurs delais.


<h3> HappySens </h3>
Votre partenaire bonheur en entreprise.

<img src="{{ asset('assets/images/logo.png') }}" >