<h3>Bonjour, @name</h3>
Nous avons reçu une demande de réinitialisation de votre mot de passe.
Si ce n’est pas vous ignorez ce mail,
Si c’est bien vous :
Cliquez sur ce lien et créez votre nouveau mot de passe
<h3>A très vite sur HappySens !</h3>
