{% extends 'notificationsEmail/baseMail.html.twig' %}

{% block content %}
    <h1 class="title">Bonjour {{ author.firstname }} {{ author.lastname }},</h1>

    <span class="content">Nous sommes très heureux de vous informer que votre candidature sur notre plateforme HappySens est définitivement validée. Nous espérons pouvoir très rapidement démarrer un projet avec vous.</span>
    <p class="infosOthers">N’hésitez pas à parler d’HappySens autour de vous, plus on est d’Happy plus on rit !
        A très vite pour œuvre ensemble pour plus de bonheur en entreprise,
    </p>
    <p class="content">Bien à vous, </p>
{% endblock %}
