{% extends 'notificationsEmail/baseMail.html.twig' %}
{% block stylesheet %}
    <style>
        .contentNewCompany {
            padding: 50px;
        }

        .infosOthers {
            margin: 50px 0 0 0;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="title">Bienvenue {{ name }}, sur votre plateforme HappySens,</h1>
    <div class="contentNewCompany">
        <div class="list">
            <span class="introList">Vos identifiants temporaires sont les suivants:</span>
            <ul class="text">
                <li class="content">Email : {{ email }} </li>
                <li class="content">Mot de passe temporaire : {{ password }} </li>
            </ul>
        </div>
        <p class="infosOthers">Nous vous invitons à bien renseigner le profil de votre entreprise et à découvrir sans
            tarder cet espace dédié au bonheur et au bien-être de vos collaborateurs. N'oubliez pas de modifier votre
            mot de passe lors de votre première connexion.</p>
        <a href="http://happysens.fr/login">
            <button>Accéder à votre page</button>
        </a>
        <p class="content">Nous vous souhaitons une agréable utilisation.</p>
    </div>
{% endblock %}


