// Button scroll to top
.scrollToTop {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color: white;
  z-index: 99999;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 2.5em;
  right: 20px;
  display: none;
  opacity: 0.5;
  &:hover{
    -webkit-transition:all ease-in 0.2s;
    transition:all ease-in 0.2s;
    opacity: 1;
  }
}