// Others
#contentEntreprise {
  min-height: 45vh;
  background-image: linear-gradient(rgba(black, 0.1),rgba(black, 0.15)), url("../images/happywork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
#contentEmploye {
  min-height: 45vh;
  background-image: linear-gradient(rgba(black, 0.1),rgba(black, 0.15)), url("../images/happysens-love.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
#contentHappy {
  min-height: 45vh;
  background-image: linear-gradient(rgba(black, 0.2),rgba(black, 0.2)), url("../images/happysens-sport.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
.headerTitleOthers {
  padding-left: 55px;
  border-radius: 5px;
  top: 25vh;
  transform: translatey(-70%);
  position: relative;
  text-shadow: 0 1px 2px black;
  h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4em;
    letter-spacing: 1px;
  }
  h5 {
    margin-left: 10px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
  }
}
