.PC_bCompany {
  table {
    width: 80%;
    margin-left: 2vh;
  }


  th{
    width: 30%;
    padding-left: 2vh;
  }

  td {
    padding-left: 2vh;
  }
}

.PC_bSlogan {
  p {
    margin: 2vh 0;
    padding: 2vh 0;


  }



}