.titleDetailsEntreprise {
    font-size: 4em;
    font-family: "Patrick Hand SC", cursive;
    margin-bottom: 30px;
}

.detailsInfosEntreprise {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(black, 0.90),rgba(black , 0.85)), url("../images/happysens-succes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  ul {
    color: white;
    padding-left: 5%;
    li {
      font-family: 'Montserrat', sans-serif;
      list-style-type: circle;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}