{% extends 'base.html.twig' %}

{% block title %}Vos notifications{% endblock %}

{% block navbar %}
    {{ include('partials/components/navbarIn.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container generalContainer">
        <div class="row">
            <h2 class="header left title">Vos notifications</h2>
            <ul class="col s12">
                <li class="col s10 offset-s1">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <ul class="col s10">
                                <li class="black-text">
                                    Vous avez aimer le projet "@title.project" de @name.user
                                </li>
                                <li><a href="{{ path('listingNotifications') }}">@title.project</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col s10 offset-s1">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="https://randomuser.me/api/portraits/thumb/women/55.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <ul class="col s10">
                                <li class="black-text">
                                    Mettez les informations de votre profil à jour :
                                </li>
                                <li><a href="{{ path('profilEmploye') }}">@name.employe</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="col s10 offset-s1">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <ul class="col s10">
                                <li class="black-text">
                                    Bienvenue sur HappySens, allez donc visitez la page de votre entreprise :
                                </li>
                                <li><a href="{{ path('profilCompany') }}">@name.company</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

