.chipStatus {
  position: absolute;
  top: 20px;
  z-index: 2;
  margin-left: 20px;
  left: 0;
}

.chipDate {
  position: absolute;
  top: 20px;
  z-index: 2;
  margin-right: 20px;
  right: 0;
}

.chip {
  img {
    background-color: #fff;
  }
  &.validate {
    background-color: rgba(forestgreen, 0.8);
    color: white;
  }
  &.inProgress {
    background-color: rgba(orange, 0.8);
    color: white;
  }
  &.end {
    background-color: rgba(red, 0.8);
    color: white;
  }
}