// Others
#contentEntreprise {
  min-height: 50vh;
  background-image: linear-gradient(rgba(black, 0.5),rgba(black, 0.3)), url("../images/happywork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -200px;
  margin-top: -90px;
}
#contentEmploye {
  min-height: 50vh;
  background-image: linear-gradient(rgba(black, 0.5),rgba(black, 0.3)), url("../images/happysens-love.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: -90px;
}
#contentHappy {
  min-height: 50vh;
  background-image: linear-gradient(rgba(black, 0.5),rgba(black, 0.3)), url("../images/happysens-sport.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: -90px;
}
#contentCGV {
  min-height: 50vh;
  background-image: linear-gradient(rgba(orange, 0.5),rgba(orange, 0.4)), url("../images/happysens-accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: -90px;
}
#contentInscription {
  min-height: 50vh;
  background-image: linear-gradient(rgba(black, 0.3),rgba(black, 0.2)), url("../images/happysens-love.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: -80px;
}
#contentContact {
  min-height: 50vh;
  background-image: linear-gradient(rgba(orange, 0),rgba(orange, 0)), url("../images/happysens-time.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-top: -80px;
}
.headerTitleOthers {
  border-radius: 5px;
  top: 30vh;
  transform: translatey(-70%);
  position: relative;
  text-shadow: 0 1px 2px black;
  h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 3.5em;
    letter-spacing: 1px;
  }
  h5 {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
}
