// Modal
.loginConnect {
  .iClose {
    color: $darkColor;
  }
  .hidden{
    display: none;
  }
}
.modal-content-Connect {
  a {
    color: $blueColor;
    &:hover {
      color: #4dabe6;
      cursor: pointer;
    }
  }
  a.btn {
    color: white;
  }
}
.newUser {
  text-align: center;
}
.stayConnected {
  margin-left: 10px;
}


