.titleShema{
  font-family: $textFont;
  font-size: 2em;
  text-align: left;
}
.textSchema{
  font-family: $textFont;
  font-size: 1.1em;
  text-align: left;
}

.mobile {
  display: none;
}

.largeScreen {
  display: block;
}