.demo a {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font : normal 1.5em $titleFont;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#scrollBottom {
  margin-left: -15px;
}
#scrollBottom a {
  padding-top: 60px;
}
#scrollBottom a span {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: 20px;
  border-left: 3px solid $blueColor;
  border-bottom: 3px solid $blueColor;
  border-bottom-left-radius: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
