.titleDetailsEntreprise {
    font-size: 3em;
    font-family: $textFont;
    margin-bottom: 30px;
}

.detailsInfosEntreprise {
  width: 100vw;
  margin-left: -20px;
  background-image: linear-gradient(to top, rgba(black, 0.8),rgba(black , 0.7)), url("../images/happysens-succes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  ul {
    color: white;
    padding-left: 5%;
    li {
      font-family: $titleFont;
      list-style-type: circle;
      font-size: 1.3em;
      margin-bottom: 10px;
    }
  }
}