// Card Categories
.card {
  margin-top: 2.5rem;
}
.cardTitle {
  font-size: 2.3em;
  font-family: $textFont;
  text-align: center;
  color: $amberColor;
}
.textCard {
  font-size: 1.2em;
  font-family: $titleFont;
}
.bgCardsIndex {
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
}

#cardEmploye {
  background-image: linear-gradient(to top, rgba(249,168,37, 0.3), rgba(249,168,37, 0.2)), url("../images/happisens-happyjob.jpg");
  background-color: rgb(249, 168, 37);
  .bgCardsIndex {
    background-color: rgba($amberColor, 0.65);
  }
}
#cardEntreprise {
  background-image: linear-gradient(to top, rgba(2,136,209, 0.3), rgba(2,136,209, 0.2)), url("../images/happysens-love.jpg");
  background-color: rgb(2,136,209);
  .bgCardsIndex {
    background-color: rgba($blueColor, 0.65);
  }
}
#cardHappy {
  background-image: linear-gradient(to top, rgba(194,24,91, 0.3), rgba(194,24,91, 0.2)), url("../images/happysens-sport.jpg");
  background-color: rgb(194,24,91);
  .bgCardsIndex {
    background-color: rgba($pinkColor, 0.65);
  }
}