// blocConcept1
.bloc1 {
  line-height: 2.8em;
  text-align: center;
  h3 {
    font-family: "Patrick Hand SC", cursive;
    font-size: 4em;
    margin-bottom: 50px;
  }
}
.para1 {
  border-radius: 5px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  padding: 30px 10px;
  text-align: justify;
}


.vignettesHome {
  max-height: 150px;
  max-width: 150px;
}
