{% extends 'baseIn.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="container">
        <div id="companyAdmin" class="showTable table-1 hidden">
            <h3>Liste des entreprises</h3>
            <table>
                <thead>
                <tr>
                    <th>Nom<i class="material-icons">keyboard_arrow_down</i><i
                                class="material-icons">arrow_drop_up</i>
                    </th>
                    <th>Nombre salariés</th>
                    <th>Nombre projets</th>
                    <th>Projets en cours</th>
                    <th>Projets en attente</th>
                    <th>Projets terminés</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="projectOnAdmin" class="showTable table-2 hidden">
            <h3>Liste des projets en cours</h3>
            <table>
                <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom</th>
                    <th>Thématique</th>
                    <th>Date de dépot</th>
                    <th>Date de validation pour avoir HC<i class="material-icons">keyboard_arrow_down</i><i
                                class="material-icons">arrow_drop_up</i></th>
                    <th>A valider</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>Cuisine</td>
                    <td>06/11/17</td>
                    <td>06/12/17</td>
                    <td><a class="btn">valider</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="projectGoAdmin" class="showTable table-3 hidden">
            <h3>Liste des projets validés</h3>
            <table>
                <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom</th>
                    <th>Thématique</th>
                    <th>Lieu</th>
                    <th>Date de fin</th>
                    <th>Happy Coach principal<i class="material-icons">keyboard_arrow_down</i><i
                                class="material-icons">arrow_drop_up</i>
                    </th>
                    <th>Happy Coach secondaires</th>
                    <th>Nombre participants</th>
                </tr>
                </thead>

                <tbody>
                <tr>

                    <td>Cuisine</td>
                    <td>Lyon</td>
                    <td>06/11/18</td>
                    <td>Lien happy coach ref</td>
                    <td>Ajouter HC liste déroulante?</td>
                    <td>22</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="projectOffAdmin" class="showTable table-4 hidden">
            <h3>Liste des projets terminés</h3>
            <table>
                <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom<i class="material-icons">keyboard_arrow_down</i><i
                                class="material-icons">arrow_drop_up</i>
                    </th>
                    <th>Thématique</th>
                    <th>Date de fin<i class="material-icons">keyboard_arrow_down</i><i class="material-icons">arrow_drop_up</i>
                    </th>
                    <th>Nombre participants</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>Cuisine</td>
                    <td>06/11/18</td>
                    <td>22</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div id="happycoachAdmin" class="showTable table-5 hidden">
            <h3>Liste des Happy Coach</h3>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Talents</th>
                    <th>Passions</th>
                    <th>Nombre de projets en cours<i class="material-icons">keyboard_arrow_down</i><i
                                class="material-icons">arrow_drop_up</i></th>
                    <th>Nombre de projets terminés</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('profilHappyCoach') }}">Happy</a></td>
                    <td><a href="{{ path('profilHappyCoach') }}">Coach</a></td>
                    <td>Cuisinier</td>
                    <td>Boulangerie</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/script/showTable.js') }}"></script>
        {% endblock %}